<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="学员作品">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="新闻资讯">聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="师资介绍">关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="news_list" target="_self"><span data-title="联系我们">最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>
  <!-- banner -->
  <div class="common_banner"></div>
	<!-- 面包屑导航 -->
   <ol class="breadcrumb wrap">
	    <li><a href="#">Home</a></li>
	    <li><a href="#">2013</a></li>
	    <li class="active">十一月</li>
   </ol>

  <div class="row wrap">
  <div class="col-20">
	  <ul class="sub_nav text-center" id="myTab">
	  	<li class='active'>
	  	<a href="#about" data-toggle="tab">学校简介</a></li>
	  	<li class=''><a href="#team" data-toggle="tab">团队介绍</a></li>
	  	<li class=''><a href="#part" data-toggle="tab">发展历程</a></li>
	  	<li class=''><a href="#contact" data-toggle="tab">联系我们</a></li>
	  </ul>
  </div>
  <div id="myTabContent " class="tab-content col-80">
	  <div class=" fade in active tab-pane" id="about">
		  <section class="wrap about_content">
				<div class="page_title">
				   <h3 class="page_main_title"> 学校简介 </h3> 
				   <span class="page_sub_title">About US</span>
			   </div>
			  <p>
			  	当今是互联网的时代，我们仍然对电力有着持续增长的需求，因为我们发明了家电等更多使用电力的产品。不可否认新技术的不断出现使得电力成为人们的必需品。
			  	不过，在目前电价无法实现市场化的情况下，真正的电煤市场化改革依然步履维艰句号或者，虽然并轨后的全面市场化有利于煤价回归合理水平，也会进一步推动煤电联动的进程，但煤电联动是一个漫长的过程，短期很难实现。首次放开铁路运力配置；继续完善煤电联动机制。同时，发展改革委牵头起草的《关于取消重点合同 推进电煤价格并轨》的报告已上报国务院。另外，就2013年煤电合同谈判，发展改革委已就《深化煤炭市场化改革 做好煤炭产运需衔接工作指
			  </p>
			  <p>
			  	当今是互联网的时代，我们仍然对电力有着持续增长的需求，因为我们发明了家电等更多使用电力的产品。不可否认新技术的不断出现使得电力成为人们的必需品。
			  	不过，在目前电价无法实现市场化的情况下，真正的电煤市场化改革依然步履维艰句号或者，虽然并轨后的全面市场化有利于煤价回归合理水平，也会进一步推动煤电联动的进程，但煤电联动是一个漫长的过程，短期很难实现。首次放开铁路运力配置；继续完善煤电联动机制。同时，发展改革委牵头起草的《关于取消重点合同 推进电煤价格并轨》的报告已上报国务院。另外，就2013年煤电合同谈判，发展改革委已就《深化煤炭市场化改革 做好煤炭产运需衔接工作指
			  </p>
		  </section>
	  </div>
	  <div class="fade tab-pane" id="team">
		  <section class="wrap about_content">
				<div class="page_title">
				   <h3 class="page_main_title">发展历程 </h3> 
				   <span class="page_sub_title">History</span>
			   </div>
			 
			  <ul>
			  	<li class="part_item">
			  		<timer class="history_time">2007年</timer>
			  		<p>腾飞教育学校成立，获淄博市教育局办学免检单位，</p>
			  		<p>个性化教学中心成立，在校学习人数突破1500人</p><p>淄博市教育局优秀单位</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2008年</timer>
			  		<p>与高考阅卷组签约成立腾飞高考研究院</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2009年</timer>
			  		<p>潍坊校区成立获得年度教育局优秀单位称号</p>
			  		<p>与市调研室合作成立中考研究院</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2010年</timer>
			  		<p>签约省市优秀名师500人</p>
			  		<p>在校学习人数突破1000人</p>
			  		<p>市教育局优秀单位</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2011年</timer>
			  		<p>高考文理科状元花落腾飞教育学校，高中本科过线率高达95%，</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2012年</timer>
			  		<p>潍坊中土校区成立，张店东城校区成立，截至培训学员突破15万人，2013年淄川校区周村校区相继成立，同期在校学生突破20000人</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2013年</timer>
			  		<p>淄川校区周村校区相继成立，同期在校学生突破20000人</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2014年</timer>
			  		<p>3E国际儿童教育中心成立，潍坊高新校区成立，桓台校区成立</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2015年</timer>
			  		<p>潍坊九龙山分校、菏泽校区牡丹分校、傅山艺考生全封闭住宿基地成立，淄博市每10名一本过线学生，7名来自腾飞</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2016年</timer>
			  		<p>腾飞教育11年，兢兢业业，北师大教学中心成立，菏泽校区西关分校成立，寿光校区成立</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2017年</timer>
			  		<p>至今，博山第15大校区成立</p>
			  	</li>
			  </ul>
		  </section>
	  </div>
	  <div class=" fade tab-pane" id="contact">
	  <section class="wrap about_content">
			<div class="page_title">
			   <h3 class="page_main_title"> 联系我们 </h3> 
			   <span class="page_sub_title">About US</span>
		   </div>
		 <div class="row">
		 	<div class="col-33 contact_item">
		 		<h3 class="contact_name">腾飞电信兄啊去</h3>
		 		<ul>
		 			<li>地址:</li>
		 			<li>联系电话:</li>
		 			<li>电子邮件:</li>
		 			<li></li>
		 		</ul>
		 	</div>
		 	<div class="col-33 contact_itme">
		 		
		 	</div>
		 	<div class="col-33 contact_itme">
		 		
		 	</div>
		 </div>
		 
	  </section>
  </div>

  </div>
</div>
	</div>
</body>
</html>