<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="学员作品">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="新闻资讯">聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="师资介绍">关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="news_list" target="_self"><span data-title="联系我们">最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>
  <!-- banner -->
  <div class="common_banner about_banner"></div>
	<!-- 面包屑导航 -->
   <ol class="breadcrumb wrap">
	    <li><a href="#">Home</a></li>
	    <li><a href="#">2013</a></li>
	    <li class="active">十一月</li>
   </ol>

<div class="wrap">
  <div class="row">
  <div class="col-20">
	  <ul class="sub_nav text-center" id="myTab">
	  	<li class='active'>
	  	<a href="#about" data-toggle="tab">学校简介</a></li>
	  	<li class=''><a href="#team" data-toggle="tab">团队介绍</a></li>
	  	<li class=''><a href="#history" data-toggle="tab">发展历程</a></li>
	  	<li class=''><a href="#honor" data-toggle="tab">取得荣誉</a></li>
	  	<li class=''><a href="#contact" data-toggle="tab">联系我们</a></li>
	  </ul>
  </div>
  <div id="myTabContent " class="tab-content col-80">
	  <div class=" fade  tab-pane" id="about">
		  <section class="about_content">
				<div class="page_title">
				   <h3 class="page_main_title"> 学校简介 </h3> 
				   <span class="page_sub_title">About US</span>
			   </div>
			  <p>
			  	当今是互联网的时代，我们仍然对电力有着持续增长的需求，因为我们发明了家电等更多使用电力的产品。不可否认新技术的不断出现使得电力成为人们的必需品。
			  	不过，在目前电价无法实现市场化的情况下，真正的电煤市场化改革依然步履维艰句号或者，虽然并轨后的全面市场化有利于煤价回归合理水平，也会进一步推动煤电联动的进程，但煤电联动是一个漫长的过程，短期很难实现。首次放开铁路运力配置；继续完善煤电联动机制。同时，发展改革委牵头起草的《关于取消重点合同 推进电煤价格并轨》的报告已上报国务院。另外，就2013年煤电合同谈判，发展改革委已就《深化煤炭市场化改革 做好煤炭产运需衔接工作指
			  </p>
			  <p>
			  	当今是互联网的时代，我们仍然对电力有着持续增长的需求，因为我们发明了家电等更多使用电力的产品。不可否认新技术的不断出现使得电力成为人们的必需品。
			  	不过，在目前电价无法实现市场化的情况下，真正的电煤市场化改革依然步履维艰句号或者，虽然并轨后的全面市场化有利于煤价回归合理水平，也会进一步推动煤电联动的进程，但煤电联动是一个漫长的过程，短期很难实现。首次放开铁路运力配置；继续完善煤电联动机制。同时，发展改革委牵头起草的《关于取消重点合同 推进电煤价格并轨》的报告已上报国务院。另外，就2013年煤电合同谈判，发展改革委已就《深化煤炭市场化改革 做好煤炭产运需衔接工作指
			  </p>
			  <div class="page_title">
				   <h3 class="page_main_title"> 我们的理念 </h3> 
				   <span class="page_sub_title">OUR IDEA</span>
			   </div>
			   <div class="row">
			   	<div class="col-50">
			   		<h3>机遇</h3>
			   		<span>机会是留给有准备的人</span>
					<p></p>
			   	</div>
			   	<div class="col-50">
			   		<h3></h3>
					<p></p>
			   	</div>
			   </div>
		  </section>
	  </div>
	  <div class=" fade tab-pane" id="team">
		  <section class="about_content">
				<div class="page_title">
					 <h3 class="page_main_title"> 我们的团队 </h3> 
				   <span class="page_sub_title">OUR TEAM</span>
				  
			   </div>
			  
			  
		  </section>
	  </div>
	   <div class=" fade tab-pane" id="honor">
		  <section class="about_content">
				<div class="page_title">
				   <h3 class="page_main_title"> 我们的荣誉 </h3> 
				   <span class="page_sub_title">OUR HONOR</span>
			   </div>
			   <img src="../img/honor.jpg" alt="" class="img-responsive" />
		  </section>
	  </div>

	  <div class="fade tab-pane" id="history">
		  <section class=" about_content">
				<div class="page_title">
				   <h3 class="page_main_title">发展历程 </h3> 
				   <span class="page_sub_title">History</span>
			   </div>
			  <ul>
			  	<li class="part_item">
			  		<timer class="history_time">2007年</timer>
			  		<p>腾飞教育学校成立，获淄博市教育局办学免检单位，</p>
			  		<p>个性化教学中心成立，在校学习人数突破1500人</p><p>淄博市教育局优秀单位</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2008年</timer>
			  		<p>与高考阅卷组签约成立腾飞高考研究院</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2009年</timer>
			  		<p>潍坊校区成立获得年度教育局优秀单位称号</p>
			  		<p>与市调研室合作成立中考研究院</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2010年</timer>
			  		<p>签约省市优秀名师500人</p>
			  		<p>在校学习人数突破1000人</p>
			  		<p>市教育局优秀单位</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2011年</timer>
			  		<p>高考文理科状元花落腾飞教育学校，高中本科过线率高达95%，</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2012年</timer>
			  		<p>潍坊中土校区成立，张店东城校区成立，截至培训学员突破15万人，2013年淄川校区周村校区相继成立，同期在校学生突破20000人</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2013年</timer>
			  		<p>淄川校区周村校区相继成立，同期在校学生突破20000人</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2014年</timer>
			  		<p>3E国际儿童教育中心成立，潍坊高新校区成立，桓台校区成立</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2015年</timer>
			  		<p>潍坊九龙山分校、菏泽校区牡丹分校、傅山艺考生全封闭住宿基地成立，淄博市每10名一本过线学生，7名来自腾飞</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2016年</timer>
			  		<p>腾飞教育11年，兢兢业业，北师大教学中心成立，菏泽校区西关分校成立，寿光校区成立</p>
			  	</li>
			  	<li class="part_item">
			  		<timer class="history_time">2017年</timer>
			  		<p>至今，博山第15大校区成立</p>
			  	</li>
			  </ul>
		  </section>
	  </div>
	  <div class=" fade tab-pane in active" id="contact">
		  <section class=" about_content">
				<div class="page_title">
				   <h3 class="page_main_title"> 联系我们 </h3> 
				   <span class="page_sub_title">About US</span>
			   </div>
			   <div class="row m_contact">
				   	<div class="col-50">
				  		<h3 class="add_name">张店世纪路校区</h3>
				  		<p class="add"><span class="">地　　址：</span>淄博市张店区世纪路30号创业大厦1楼（淄博技师学院西门北邻）</p> 
				  		 <div class="clearfix">
				  		 	<div class="fl ">
				  		 		咨询电话：
				  		 	</div>
				  		 	<div class="fl">
				  		 		<ul>
				  		 			<li>0533-2306166 &nbsp; 0533-8136555 （初中部）</li>
				  		 			<li>0533-2778127 &nbsp; 0533-8078188 （高中部）</li>
				  		 			<li>0533-2212999 &nbsp; 0533-2217999 （1对1）</li>
				  		 		</ul>
				  		 	</div>
				  		 </div>
				  		 <p class="add">在线咨询：<a href="" class="iconfont">&#xe61c;</a></p>
				  	</div>
				  	<div class="col-50 text-center">
				  		<img src="../img/e.jpg" alt="" />
				  	</div>
			   </div>
			   <div class="page_title">
				   <h3 class="page_main_title"> 其他校区地址</h3> 
				   <span class="page_sub_title">About US</span>
			   </div>
			   
			 <div class="row">
			 	<div class="col-33 contact_item">
			 		<h3 class="contact_name">张店区华光路校区 </h3>
			 		<ul>
			 			<li>地　　址:　<span >张店区世纪路30号创业大厦1号</span></li>
			 			<li>咨询电话:　0533-2316678</li>
			 		</ul>
			 	</div>
			 	<div class="col-33 contact_item">
			 		<h3 class="contact_name">张店区华光路校区 </h3>
			 		<ul>
			 			<li>地　　址:　<span >张店区世纪路30号创业大厦1号</span></li>
			 			<li>咨询电话:　0533-2316678</li>
			 		</ul>
			 	</div>
			 	
			 	
			 	<div class="col-33 contact_item">
			 		<h3 class="contact_name">张店区华光路校区 </h3>
			 		<ul>
			 			<li>地　　址:　<span >张店区世纪路30号创业大厦1号</span></li>
			 			<li>咨询电话:　0533-2316678</li>
			 		</ul>
			 	</div>
			 </div>
			  <div class="row">
			 	<div class="col-33 contact_item">
			 		<h3 class="contact_name">张店区华光路校区 </h3>
			 		<ul>
			 			<li>地　　址:　<span >张店区世纪路30号创业大厦1号</span></li>
			 			<li>咨询电话:　0533-2316678</li>
			 		</ul>
			 	</div>
			 	<div class="col-33 contact_item">
			 	<h3 class="contact_name">张店区世纪路校区</h3>
			 		<ul>
			 			<li>地址:</li>
			 			<li>联系电话:</li>
			 			
			 		</ul>
			 	</div>
			 	<div class="col-33 contact_item">
			 		<h3 class="contact_name">腾飞电信兄啊去</h3>
			 		<ul>
			 			<li>地址:</li>
			 			<li>联系电话:</li>
			 		</ul>
			 	</div>
			 	
			 </div>
			  <div class="row">
			 	<div class="col-33 contact_item">
			 		<h3 class="contact_name">张店区华光路校区 </h3>
			 		<ul>
			 			<li>地　　址:　<span >张店区世纪路30号创业大厦1号</span></li>
			 			<li>咨询电话:　0533-2316678</li>
			 		</ul>
			 	</div>
			 	<div class="col-33 contact_item">
			 	<h3 class="contact_name">张店区世纪路校区</h3>
			 		<ul>
			 			<li>地址:</li>
			 			<li>联系电话:</li>
			 			
			 		</ul>
			 	</div>
			 	<div class="col-33 contact_item">
			 		<h3 class="contact_name">腾飞电信兄啊去</h3>
			 		<ul>
			 			<li>地址:</li>
			 			<li>联系电话:</li>
			 			
			 		</ul>
			 	</div>
			 	
			 </div>
			 <div class="map">
			 	<nav class="map_nav">
			 		<ul>
			 			<li>张店区</li>
			 			<li>博山区</li>
			 			<li>周村区</li>
			 			<li></li>
			 		</ul>
			 	</nav>
			 	<!-- <iframe src="http://720.xghd.cc/test_yang/map.php?pix=118.049902,36.803062&name=炫果互动" frameborder="0"
	                        style="display: block; width: 100%;height: 400px;"
	                ></iframe> -->
	                <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

			 </div>
		  </section>
 	  </div>

  </div>

</div>
</div>
	</div>
</body>
</html>