<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
  <div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="junior.html" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="high.html" target="_self"><span data-title="高中辅导">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span >聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="art.html" target="_self"><span >艺术生</span></a></li>
            <li class="navitem"><a class="nav-a " href="about.html" target="_self"><span >关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span >最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>
   <div class="common_banner junior_banner">
    <div class="wrap">
      <div class="j_banner_content">
       <span>23万家长学生的选择</span>
      <div class="j_theme">中小学高端辅导品牌</div>
      <ul class="j_advantage">
        <li>11年经验</li>
        <li>2100名教师</li>
         <li>14所校区</li>
        <li>首创“分层教学”</li>
      </ul>
      </div>
    </div>
  </div>

 <div class="art_advantage_wrap">
 	<div class="wrap">
 	<div class="comm_title text-center">
		  <h3> 腾飞艺术生文化课教育 </h3> 
		  <div class="line"></div>
		  <p class="text-center e_title">
		  	腾飞教育成立十几年，通过对1对1辅导的艺术生有上千名，文化通过率97%以上
		  </p>
	 </div>
 		<div class="row text-center">
 			<div class="col-33 art_adv_item">
 				<h3>经验丰富</h3>
 				<div class="iconfont center-block">&#xe647;</div>
 				<p>艺体生文化部事业立足艺考生培训7年，腾飞教育艺考生文化课管理中心率先在业内推出分层教育和分阶教育</p>
 			</div>
 			<div class="col-33 art_adv_item">
 				<h3>卓越师资</h3>
 				<div class="iconfont center-block"></div>
 				<p>137名优秀教师任教，154名全职员工维护</p>
 			</div>
 			<div class="col-33 art_adv_item">
 				<h3>精心管理</h3>
 				<div class="iconfont center-block"></div>
 				<p>学科内容聚优</p>
 			</div>
 		</div>
 	</div>
 </div>

<div class="course_category">
	<div class="wrap">
	  <div class="comm_title text-center">
		  <h3> 一对一文化课 </h3> 
		  <div class="line"></div>
		  <p class="text-center e_title">
		  	腾飞教育成立十几年，通过对1对1辅导的艺术生有上千名，文化通过率97%以上
		  </p>
	 </div>
	<div class="row category">
		<div class="col-50">
			<section class="category_item text-center">
				<h3>1对1全托式辅导</h3>
				<p></p>
			</section>
		</div>
		<div class="col-50">
			<section class="category_item text-center">
				<h3>1对1全托式辅导</h3>
				<p></p>
			</section>
		</div>
	</div>
</div>
</div>

<!-- 名师团队 -->
  <div class="teacher_wrap team">
  	<div class="wrap">
	  <div class="comm_title text-center">
		  <h3> 名师团队 </h3> 
		  <div class="line"></div>
		  <p class="text-center e_title">
		  	专业教师教研培训，长达200小时的试讲培训，每周2次艺考文化课专题教研，147名专职教师团队，154名全职员工管理团队
		  </p>
	 </div>
	 <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
            <ul class="row">
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption>
                    <div class="teacher-info">
                    <p class="name">的说法</p>
                    <span class="post">sdfsdfsdf</span>
                     </div>
                  </figcaption>
                </figure>
                <div class="teacher_intro">
                	<h4>名师介绍：</h4>
                	山东大学学院教授，博士生导师，懒人图库精心编辑的阿里巴巴图片素材专辑,清晰无水印,全部免费下载。... 欢迎来到懒人图库!返回首页 | 网站地图 | ...阿里巴巴分类的内容: 秦比昂比昂之阿里巴巴QQ.

                </div>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
            </ul>
        </div>
        </div>
       </div>
	</div>
  </div>

 <div class="shcool_wrap">

 	<div class="wrap text-center">
 	 <div class="comm_title text-center">
		  <h3> 2009年-2016年腾飞教育艺体生 </h3> 
		  <div class="line"></div>
		  <p class="text-center e_title">
		  	
		  </p>
	 </div>	
	 	<img src="../img/shool.jpg" alt="" >
 	</div>
 </div>
	
</body>
</html>