<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="学员作品">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="新闻资讯">聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="师资介绍">关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="news_list" target="_self"><span data-title="联系我们">最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>
	<div style='height: 140px'></div>
  <ol class="breadcrumb wrap">
	    <li><a href="#">Home</a></li>
	    <li><a href="#">2013</a></li>
	    <li class="active">十一月</li>
  </ol>
  
  <div class="wrap couse_info_wrap">
	  <div class=" row course_content_wrap">
				<article class="col-80">
					<div class=" case_list_item">
						<div class="fl case_photo text-center">
							<div class="iconfont center-block">&#xe664;</div>
							<h3>李浩然</h3>
						</div>
						<div class="fl  case_list_described">
							<ul>
								<li><strong>所在年级：</strong><div class="fr case_list_item_right">十一中</div>
								</li>
								<li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
								<li><strong>学习中心：</strong><div class="fr case_list_item_right">十一中</div></li>
							</ul>
						</div>
						<div class="fl case_list_described">
							<ul>
								<li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
								<li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
								<li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
							</ul>
						</div>
							

					</div>
						
					<div class="course_info case_info">
						
						<section>
							<h3 class="title">学生情况和成果</h3>
							<ul class="course_info_message">
								<li>
									<strong class='fl course_info_title'>学员情况：</strong>
									<p class='fl course_info_text'>高一到高二的衔接过渡期，巩固高一知识，进行补充练习，预习高二新知识，拓展强化，提前深谙学科重难点，活学活用，新高二告别两级分化，全力冲刺！
									高一到高二的衔接过渡期，巩固高一知识，进行补充练习，预习高二新知识，拓展强化，提前深谙学科重难点，活学活用，新高二告别两级分化，全力冲刺！
									</p>
								</li>
								<li>
									<strong class='fl course_info_title'>辅导规划：</strong>
									<p class='fl course_info_text'>高一到高二的衔接过渡期，巩固高一知识，进行补充练习，预习高二新知识，拓展强化，提前深谙学科重难点，活学活用，新高二告别两级分化，全力冲刺！</p>
								</li>
								
								<li>
									<strong class='fl course_info_title'>辅导时间：</strong>
									<p class='fl course_info_text'>2012-20-1——2012-5</p>
								</li>
								<li>
									<strong class='fl course_info_title'>辅导效果：</strong>
									<p class='fl course_info_text'>高一到高二的衔接过渡期，巩固高一知识，进行补充练习，预习高二新知识，拓展强化，提前深谙学科重难点，活学活用，新高二告别两级分化，全力冲刺！</p>
								</li>
								<li>
									<strong class='fl course_info_title'>学生感言：</strong>
									<p class='fl course_info_text'>高一到高二的衔接过渡期，巩固高一知识，进行补充练习，预习高二新知识，拓展强化，提前深谙学科重难点，活学活用，新高二告别两级分化，全力冲刺！</p>
								</li>
								<li>
									<strong class='fl course_info_title'>家长感言：</strong>
									<p class='fl course_info_text'>高一到高二的衔接过渡期，巩固高一知识，进行补充练习，预习高二新知识，拓展强化，提前深谙学科重难点，活学活用，新高二告别两级分化，全力冲刺！</p>
								</li>

							</ul>
							

						</section>
						</div>
				</article>

				<aside class="col-20 ">
					<div class="rec_course ">
						<h3 class="c">推荐课程</h3>
						<ul >
							<li class="row">
								<div class="col-40 img-wrap">
									<img src="../img/cz.jpg" class='img-responsive' alt="">
								</div>
								<section class="col-60 rec_course_intro">
									<a href="">
										<h4>对初中三年级学生，根据数学</h4>
										<p>对初中三年级学生，根据数学对初中三年级学生，根据数学</p>
									</a>
								</section>
							</li>
							<li class="row">
								<div class="col-40 img-wrap">
									<img src="../img/cz.jpg" class='img-responsive' alt="">
								</div>
								<section class="col-60 rec_course_intro">
									<a href="">
										<h4>对初中三年级学生，根据数学</h4>
										<p>对初中三年级学生，根据数学对初中三年级学生，根据数学</p>
									</a>
								</section>
							</li>
							<li class="row">
								<div class="col-40 img-wrap">
									<img src="../img/cz.jpg" class='img-responsive' alt="">
								</div>
								<section class="col-60 rec_course_intro">
									<a href="">
										<h4>对初中三年级学生，根据数学</h4>
										<p>对初中三年级学生，根据数学对初中三年级学生，根据数学</p>
									</a>
								</section>
							</li>
							<li class="row">
								<div class="col-40 img-wrap">
									<img src="../img/cz.jpg" class='img-responsive' alt="">
								</div>
								<section class="col-60 rec_course_intro">
									<a href="">
										<h4>对初中三年级学生，根据数学</h4>
										<p>对初中三年级学生，根据数学对初中三年级学生，根据数学</p>
									</a>
								</section>
							</li>
							<li class="row">
								<div class="col-40 img-wrap">
									<img src="../img/cz.jpg" class='img-responsive' alt="">
								</div>
								<section class="col-60 rec_course_intro">
									<a href="">
										<h4>对初中三年级学生，根据数学</h4>
										<p>对初中三年级学生，根据数学对初中三年级学生，根据数学</p>
									</a>
								</section>
							</li>
						</ul>
					</div>
					
					<div class="course_news">
						<h3></h3>
						<ul>
							<li><i>d</i><a href="">对初中三年级学生，根据数学对初中三</a></li>
						</ul>
					</div>

				</aside>

	  </div>
</div>


</body>
</html>