<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="junior.html" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="high.html" target="_self"><span data-title="高中辅导">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span >聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="art.html" target="_self"><span >艺术生</span></a></li>
            <li class="navitem"><a class="nav-a " href="about.html" target="_self"><span >关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span >最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>
   <div class="common_banner case_banner">
    <div class="wrap">
      <div class="j_banner_content">
      
     <!--  <ul class="art_advantage text-center">
        <li>11年经验</li>
        <li>2100名教师</li>
         <li>14所校区</li>
        <li>首创“分层教学”</li>
      </ul> -->
      </div>
    </div>
  </div>
  <div class="case_list wrap">
    <div class="row">

    <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
        <a href="case.html" class="center-block case_btn text-center">查看详情</a>
    </div>
      <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
        <a href="" class="center-block case_btn text-center">查看详情</a>
    </div>
      <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
        <a href="" class="center-block case_btn text-center">查看详情</a>
    </div>
      <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
        <a href="" class="center-block case_btn text-center">查看详情</a>
    </div>
    </div>

    <div class="row">

    <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
        <a href="" class="center-block case_btn text-center">查看详情</a>
    </div>
      <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
        <a href="" class="center-block case_btn text-center">查看详情</a>
    </div>
      <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
        <a href="" class="center-block case_btn text-center">查看详情</a>
    </div>
      <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
          <a href="" class="center-block case_btn text-center">查看详情</a>
    </div>
    </div>

    <div class="row">

    <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
        <a href="" class="center-block case_btn text-center">查看详情</a>
    </div>
      <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
        <a href="" class="center-block case_btn text-center">查看详情</a>
    </div>
      <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
        <a href="" class="center-block case_btn text-center">查看详情</a>
    </div>
      <div class="col-25 case_list_item">
       <p>姓名</p>
        <ul class="">
          <li><strong>所在年级：</strong><div class="fr case_list_item_right">高三</div></li>
          <li><strong>就读学校：</strong><div class="fr case_list_item_right">十一中</div></li>
          <li><strong>辅导科目：</strong><div class="fr case_list_item_right"><span>化学</span><span>数学</span></div></li>
          <li><strong>入学成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>提升后成绩：</strong><div class="fr case_list_item_right"><span>15</span> <span>15</span></div></li>
          <li><strong>学习中心：</strong><div class="fr case_list_item_right">世纪路1对1高端客户教学中心</div></li>
        </ul>
          <a href="" class="center-block case_btn text-center">查看详情</a>
    </div>
    </div>

      <div class="text-center">
          <ul class="pagination ">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li class=""><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>

  </div>

 
  
</body>
</html>