<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="学员作品">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="新闻资讯">聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="师资介绍">关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="news_list" target="_self"><span data-title="联系我们">最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>
	<div style='height: 140px'></div>
  <ol class="breadcrumb wrap">
	    <li><a href="#">Home</a></li>
	    <li><a href="#">2013</a></li>
	    <li class="active">十一月</li>
  </ol>
	
	<div id="course" class="wrap course" v-cloak>
		<div class="mask"  id='mask' style="display:none;">
			<div class="appointment_form center-block clearfix " id='appointment_form'>
				<div class="close" id="close" @click='hide()'></div>
				<h2>填写资料，免费体验课程</h2>
				<div class="form_wrap fl">
				<form action="">
					<label for="">
						<input type="text" placeholder="请输入姓名">
					</label>
					<label for="">
						<input type="text" placeholder="请输入手机号">
					</label>
					<label for="">
						<input type="text" placeholder="请输入所在学校">
					</label>
					
					<select name="" id="">
						<option value="">初一</option>
						<option value="">初二</option>
						<option value="">初三</option>
						<option value="">初四</option>
					</select>
					<button type='button' class="apply_btn" id='apply_btn'>立即报名</button>
				</form>
				</div>
				<div class="fr form_ewm">
					<img src="" alt="">
					<p>dsfsdfsdfsfsdsdf</p>
				</div>
			</div>
		</div>

		<div class="course_wrap">
			<div class="course_item clearfix" >
				<div class="fl course_nav_caption"><i>学期</i></div>
				<ul class="fl course_nav">
					<li v-for='item in term' :class={'active':termId==item.id} @click='choice(item.id)'>{{item.name}}</li>
				</ul>
			</div>
			<div class="course_item">
				<div class="fl course_nav_caption"><i></i>分类</div>
				<ul class="fl course_nav">
					<li v-for='item in sort' :class={'active':sortId==item.id} @click='choice(item.id)'> {{item.name}}</li>
				</ul>
			</div>
			<div class="course_item">
				<div class="fl course_nav_caption"><i></i>班级</div>
				<ul class="fl course_nav">
					<li v-for='item in classes' :class={'active':classId==item.id} @click='choice(item.id)'> {{item.name}}</li>
				</ul>
			</div>
			<div class="course_item">
				<div class="fl course_nav_caption"><i></i>科目</div>
				<ul class="fl course_nav">
					<li v-for='item in subject'> {{item.name}}</li>
				</ul>
			</div>
			<div class="course_item">
				<div class="fl course_nav_caption"><i></i>班型</div>
				<ul class="fl course_nav">
					<li v-for='item in type'> {{item.name}}</li>
				</ul>
			</div>
		</div>
		
		<div class="row course_content_wrap">
			
			<ul class="course_content col-80" style="margin-top: 0">
				<li class="course_content_item row" v-for='course in courses'>
					<div class="col-80 row">
						<div class="col-40 course_content_img">
							<img :src="course.img" alt="" class="img-responsive">
						</div>
						<div class="col-60 course_content_info">
							<h3>{{course.name}}</h3>
							<ul>
								<li>适用学生：{{course.student}}</li>
								<li>开课日期：{{course.startTime}}上课时间：{{course.startTime}}</li>
								<li>上课地点：{{course.add}}</li>
								<li>课程简介：{{course.intro}}</li>
							</ul>
						</div>
					</div>
					<div class="col-20 course_btn_wrap">
						<a :href="'course.html?id='+course.id" class="course_btn center-block ">查看详情</a>
						<a href="javascript:" class="course_btn appoint_btn" id='appoint_btn' @click='iShow()'>立即预约</a>
					</div>
				</li>
			</ul>

			<div class="col-20 class_left">
						<div class="icon"></div>
				<div class="rec_course">
						
						<h3 class="">在线咨询</h3>

						<a href="" class="online_btn">
						    <i class="iconfont">&#xe615;</i>服务咨询</a>

						<div class="text-center">
							其他联系方式
						</div>
				</div>
			</div>


</div>
</div>
		


</body>
</html>