<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>高中辅导</title>
</head>
<body>
<div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="学员作品">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="新闻资讯">聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="师资介绍">关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="news_list" target="_self"><span data-title="联系我们">最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>
  <!-- banner -->
  <div class="common_banner high_banner">
    
  </div>
  <hgroup></hgroup>
  <div class="wrap">
    <section class="course_item clearfix">
       <div class="course_item_title fl">
         <h3>目标生课程系列</h3>
         <span>Target Students Course System</span>
       </div>
       <ul class="fr course_item-list">
         <li>
           <a href="">
             <strong class="title">优化实验课堂</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <h4>课程理念</h4>
                <p>关于运输和配送的区分，有许多不同的观点，可以 这样来说，所有物品的移动都是运输，而配送则专指短距离、小批量的运输。因此，可以说运输是指整体，配送则是指其中的一部分，而且配送的侧重点在于一个 ''配''字，它的主要意义也体现在''配''字上；而''送''是为最终实现资源</p>
              </div>

            </a>
         </li>
       </ul>
    </section>
    <section class="course_item clearfix">
       <div class="course_item_title fl">
         <h3>目标生课程系列</h3>
         <span>Target Students Course System</span>
       </div>
       <ul class="fr course_item-list">
         <li>
           <a href="">
             <strong class="title">优化实验课堂</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <h4>课程理念</h4>
                <p>关于运输和配送的区分，有许多不同的观点，可以 这样来说，所有物品的移动都是运输，而配送则专指短距离、小批量的运输。因此，可以说运输是指整体，配送则是指其中的一部分，而且配送的侧重点在于一个 ''配''字，它的主要意义也体现在''配''字上；而''送''是为最终实现资源</p>
              </div>

            </a>
         </li>
       </ul>
    </section>

  </div>
  
</body>
</html>