<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>高中辅导</title>
</head>
<body>
<div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="学员作品">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="新闻资讯">聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="师资介绍">关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="news_list" target="_self"><span data-title="联系我们">最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>
  <!-- banner -->

  <div class="common_banner high_banner">
    <div class="wrap" >
      <div class="fr" >
        <div class="banner_title">
          <div class="theme"> "<span>高考</span>的加油站，<span>名校</span>的领航人"</div>
          <div class="h_slogan">立足鲁中10年，腾飞率先在业内独家推出<span>“分层教学”</span></div>
       </div>
        <ul class="h_award">
          <li>10年累计成功辅导各类学员2100000人次</li>
          <li>累计150000多人顺利升入全国重点院校</li>
          <li>学员家长满意度高度99.5%</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="advan_wrap">
  <div class="comm_title text-center">
  <h3> 我们的优势 </h3> 
  <div class="line"></div>
  <p class="text-center e_title">OUR ADVANTAGE</p>
</div>
  <div class="wrap advan-wrap">
   
    <div class="row text-center">
      <div class="col-20" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
        <div class="abvan_img adv_year"> </div>
        <p>腾飞教育高中部部十年积淀,综合十余年实际教辅经验</p>
      </div>
      <div class="col-20" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay:100}">
      <div class="abvan_img adv_teacher"> </div>
      </div>
      <div class="col-20" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay:200}"><div class="abvan_img adv_check"> </div>dd</div>
      <div class="col-20" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay:300}"><div class="abvan_img adv_research"> </div>
        <p>山东中考命题研究组与腾飞教育中考命题研究院共同推出，深入剖析中考大纲，深挖中考命题规律，解答中考答题技巧</p>
      </div>
      <div class="col-20" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay:400}"><div class="abvan_img adv_tf"> </div>dd</div>
    </div>
  </div>
</div>
 
 <div class="comm_title text-center">
  <h3> 课程体系介绍 </h3> 
  <div class="line"></div>
  <p class="text-center e_title">OUR ADVANTAGE</p>
</div>
  <div class="wrap">
    
    <section class="course_item clearfix">
       <div class="course_item_title fl">
         <h3>优等生课程系列</h3>
         <span>Target Students Course System</span>
       </div>
       <ul class="fr course_item-list">
         <li>
          
             <strong class="title">优化实验课堂</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                 <a href="">高一</a>
                 <a href="">高二</a> 
                 <a href="">高三</a>
              </div>
         </li>
          <li>
             <strong class="title">综合全优课堂</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                 <a href="">高一</a>
                 <a href="">高二</a> 
                 <a href="">高三</a>
              </div>
         </li>
       </ul>
    </section>
    <section class="course_item clearfix">
       <div class="course_item_title fl">
         <h3>目标生课程系列</h3>
         <span>Target Students Course System</span>
       </div>
       <ul class="fr course_item-list">
         <li>
           
             <strong class="title">联合强化课堂</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <a href="">高一</a>
                 <a href="">高二</a> 
                 <a href="">高三</a>
              </div>
         </li>
          <li>
           
             <strong class="title">综合培优课堂</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <a href="">高一</a>
                 <a href="">高二</a> 
                 <a href="">高三</a>
              </div>

            
         </li>
       </ul>
    </section>
     <section class="course_item clearfix">
       <div class="course_item_title fl">
         <h3>模块专训课程系列</h3>
         <span>Target Students Course System</span>
       </div>
       <ul class="fr course_item-list">
         <li>
             <strong class="title">联合强化课堂</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <a href="">高一</a>
                 <a href="">高二</a> 
                 <a href="">高三</a>
              </div>
         </li>
          <li>
             <strong class="title">综合培优课堂</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <a href="">高一</a>
                 <a href="">高二</a> 
                 <a href="">高三</a>
              </div>
         </li>
         <li>
          
             <strong class="title">综合培优课堂</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <a href="">高一</a>
                 <a href="">高二</a> 
                 <a href="">高三</a>
              </div>
         </li>
       </ul>
    </section>

  </div>
  
</body>
</html>