<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

</head>
<body>
  <div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="学员作品">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="新闻资讯">聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="about.html" target="_self"><span data-title="师资介绍">关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="联系我们">最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>


<div  class='banner-wrap'>
<!-- style='position: fixed;z-index: -1' -->
  <div id="banner" >
        <section class="text-center banner_slogan center-block">
          <h1 data-am-scrollspy="{animation:'slide-top', repeat: false}">腾飞教育,十年积淀</h1>
          <p class="words" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">TENGFEIJIAOYU,SHINIANCHENGTEIAN </p>
          <!-- <div id='year'>2017</div> -->
        </section>
        <div class="wrap">
          <canvas id="myChart" width="1200" height="400"></canvas>
        </div>
  </div>
</div>


<div class="main">
<!-- --------------课程 ---------------- -->
<div id="class" class="wrap clearfix" >
  <section class="class_item"data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
    <a href="">
    <h3 class="class_title">初中辅导<i class="iconfont">&#xe623;</i>
      
    </h3>

    <div class="class_intro_wrap">
    <p class="class_intro">sdfsdfasf</p>
    <span>立即查看</span>
    </div>
    </a>
  </section>
  <section class="class_item" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 200}">
    <a href="">
    <h3 class="class_title">高中辅导 <i class="iconfont high">&#xe62e;</i></h3>
    <div class="class_intro_wrap">
      <p class="class_intro">高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导</p>
      <span>立即查看</span>
    </div>
    </a>
  </section>
  <section class="class_item" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 400}">
    <a href="">
    <h3 class="class_title">聚优一对一 <i class="iconfont obo">&#xe63d;</i></h3>
    <div class="class_intro_wrap">
      <p class="class_intro">sdfsdfasf</p>
      <span>立即查看</span>
    </div>
    </a>
  </section>
</div>

<!-- --------------活动 ---------------- -->
<div id="news" class="wrap clearfix">

<div class="comm_title text-center">
  <h3> 最新活动 </h3> 
  <div class="line"></div>
  <p class="text-center e_title">NEWS</p>
</div>

<div class=" clearfix" id="home">
 
  <div class="news_left_conent clearfix">
    <div class="clearfix news_left_header">
      <strong class="fl">精彩活动</strong>
      <a href="" class="fr more">查看更多>></a>
    </div>

    <ul class="fl">
          <li class="news_items clearfix">
            <div class="news_date fl">
                <span class="news_date_day">05</span>
                2017-12
            </div>
            <div class="news_content fl ">
              <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
              <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
            </div>
          </li>
           <li class="news_items clearfix">
            <div class="news_date fl">
                <span class="news_date_day">05</span>
                2017-12
            </div>
            <div class="news_content fl ">
              <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
              <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
            </div>
          </li>
          <li class="news_items clearfix">
            <div class="news_date fl">
                <span class="news_date_day">05</span>
                2017-12
            </div>
            <div class="news_content fl ">
              <a href="">
                <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
                <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
            </a>
            </div>
          </li>
    </ul>

    <figure class="fr news_center_conent">
    <a href="">
        <div class="img_wraper">
             <img src="../img/cz.jpg" alt="" class="img-responsive">
        </div>
      <figcaption class="news_content news_img_content">
          <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
            <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
       </figcaption>
    </a>
  </figure> 
   </div>    
 
           
  <div class="fr news_right_conent">  
      <div class="clearfix news_left_header">
      <strong class="fl">新闻资讯</strong>
      <a href="" class="fr more">查看更多>></a>
    </div>
    <ul class="">
          <li class="news_items clearfix">
             <i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总 
          </li>
          <li class="news_items clearfix">
            <a href=""><i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总 </a>
          </li>
          <li class="news_items clearfix">
            <a href=""><i class='news_iconfont'></i> 2017青岛市市北初三一模试卷汇总</a>
          </li>
          <li class="news_items clearfix">
            <a href=""> <i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总</a> 
          </li>
          <li class="news_items clearfix">
           <a href=""> <i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总</a>青岛市市北初三一模试卷汇总青岛市市北初三一模试卷汇总青岛市市北初三一模试卷汇总<a href=""></a>
          </li>
          <li class="news_items clearfix">
            <a href=""><i class='news_iconfont'></i> 2017青岛市市北初三一模试卷汇总</a>
          </li>
          <li class="news_items clearfix">
             <i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总 
          </li>
          <li class="news_items clearfix">
            <i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总 
          </li>
          <li class="news_items clearfix">
            <i class='news_iconfont'></i> 2017青岛市市北初三一模试卷汇总
          </li>
          <li class="news_items clearfix">
            <i class='news_iconfont'></i> 2017青岛市市北初三一模试卷汇总
          </li>
    </ul>
  </div>
 </div>

  <div class="row activity">
          <div class="col-33 activity_item">
            <figure>
            <a href="">
              <div class="img_wrap">
                <div class="mask"></div>
                <img src="../img/cz.jpg" alt="" class="img-responsive">
              </div>
              <figcaption class='activity_content'>
                <h4>可是你现在明白了，</h4>
                <p>你得自己学着应付了你得自己学着应付了</p>
              </figcaption>
              </a>
            </figure>
          </div>
           <div class="col-33 activity_item">
            <figure>
            <a href="">
              <div class="img_wrap">
                <div class="mask"></div>
                <img src="../img/cz.jpg" alt="" class="img-responsive">
              </div>
              <figcaption class='activity_content'>
                <h4>可是你现在明白了，</h4>
                <p>你得自己学着应付了你得自己学着应付了</p>
              </figcaption>
              </a>
            </figure>
          </div>
           <div class="col-33 activity_item">
            <figure>
            <a href="">
              <div class="img_wrap">
                <div class="mask"></div>
                <img src="../img/new_bg.jpg" alt="" class="img-responsive">
              </div>
              <figcaption class='activity_content'>
                <h4>可是你现在明白了，</h4>
                <p>你得自己学着应付了你得自己学着应付了</p>
              </figcaption>
              </a>
            </figure>
          </div>
          
   </div>
</div>
  

      
</div>


<!-- --------------团队 ---------------- -->
<div id="team">
  <div  class="wrap">
    <div class="comm_title text-center">
      <h3> 师资介绍 </h3> 
      <div class="line"></div>
      <p class="text-center e_title">NEWS</p>
    </div>
   <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
            <ul class="clearfix row">
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption>
                    <p class="name">的说法</p>
                    <span class="post">sdfsdfsdf</span>
                    <p class="team_item_intro">简介简介简介简介简介简介简介简介简介简介
                    简介简介简介简介简介简介简介简介简介简介

                    </p>
                  </figcaption>
                </figure>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
            </ul>
        </div>
        <div class="swiper-slide">
            <ul class="clearfix row">
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption>
                    <p class="name">的说法</p>
                    <span class="post">sdfsdfsdf</span>
                    <p class="team_item_intro">简介简介简介简介简介简介简介简介简介简介
                    简介简介简介简介简介简介简介简介简介简介

                    </p>
                  </figcaption>
                </figure>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
            </ul>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
   </div>
    
  </div>
</div>



<div id="about">  
  <div class="text-center about_intro">
      <div class="comm_title text-center">
    <h3> 关于腾飞 </h3> 
    <div class="line"></div>
    <!-- <p class="text-center e_title">History</p> -->
  </div>
      <p class='center-block about_intro_text'>关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞
       </p>
       <a href="" class="about_btn">进一步了解</a>
  </div>

      <div class="about_top text-center center-block">
   <ul class="clearfix row">
     <li class="about_num col-25">
        <p class="iconfont ">&#xe615;</p>
          <div class="">
            <strong id='years'>10</strong>
            <p class="about_tag">年教学经验</p>
          </div>
      </li>
      <li class="about_num col-25">
        <p class="iconfont ">&#xe664;</p>
          <div class="">
            <strong id='student'>40000</strong>
            <p class="about_tag">名学生</p>
          </div>
      </li>
      <li class="about_num col-25">
        <p class="iconfont ">&#xe602;</p>
          <div class="">
            <strong id='school'>15</strong>
            <p class="about_tag">所校区</p>
          </div>
      </li>
      <li class="about_num col-25">
        <p class="iconfont ">&#xe61a;</p>
          <div class="">
            <strong><span id="prob">95</span>%</strong>
            <p class="about_tag">本科升学率</p>
          </div>
      </li>
      
    </ul> 
</div>
</div>


<div id="timer_line" class="timer_line center-block">
  <div class="comm_title text-center">
    <h3> 发展历程 </h3> 
    <div class="line"></div>
    <p class="text-center e_title">History</p>
  </div>
 <ul class='row text-center no-gutter clearfix' >
   <li class="time_item col-20 on">力学笃行</li>
   <li class="time_item col-20">逆水行舟</li>
   <li class="time_item col-20">一德一心</li>
   <li class="time_item col-20">坚持不懈</li>
   <li class="time_item col-20">众志成城</li>
 </ul>

  <div class="slider row text-center">
      <div class="col-20 on timer_content">
        <!-- <strong>力学笃行</strong> -->
        <p>腾飞教育学校成立，获淄博市教育局办学免检单位<br>
        2007年个性化教学中心成立，在校学习人数突破1500人，<br>
        淄博市教育局优秀单位，2008年与高考阅卷组签约成立腾飞高考研究院</p>
      </div>
      <div class="col-20 timer_content">
        <!-- <strong>逆水行舟 </strong> -->
        <p>腾飞教育学校成立，获淄博市教育局办学免检单位，2007年个性化教学中心成立，在校学习人数突破1500人，淄博市教育局优秀单位，2008年与高考阅卷组签约成立腾飞高考研究院</p>
      </div>
      <div class="col-20 timer_content">
        <!-- <strong>一德一心</strong> -->
        <p>腾飞教育学校成立，获淄博市教育局办学免检单位，2007年个性化教学中心成立，在校学习人数突破1500人，淄博市教育局优秀单位，2008年与高考阅卷组签约成立腾飞高考研究院</p>
      </div>
     
      <div class="col-20 timer_content">
        <strong>众志成城</strong>
        <p>腾飞教育学校成立，获淄博市教育局办学免检单位，2007年个性化教学中心成立，在校学习人数突破1500人，淄博市教育局优秀单位，2008年与高考阅卷组签约成立腾飞高考研究院</p>
    </div>
    <div class="col-20 timer_content">
        <strong>众志成城</strong>
        <p>腾飞教育学校成立，获淄博市教育局办学免检单位，2007年个性化教学中心成立，在校学习人数突破1500人，淄博市教育局优秀单位，2008年与高考阅卷组签约成立腾飞高考研究院</p>
    </div>
  </div>

</div>


<footer>
  <div class="wrap clearfix">
     <ul>
      <li class='footer_nav'>
        <strong class='footer_sub_nav'>
          <a href="">初中辅导</a>
         </strong>
          <ul>
            <li><a href="">了解了解</a></li>
            <li><a href="">了解了解</a></li>
            <li><a href="">了解了解</a></li>
          </ul>
      </li>
      <li class='footer_nav'>
        <strong class='footer_sub_nav'><a href="">高中辅导</a></strong>
        <ul>
          <li><a href="">水电费</a></li>
          <li><a href="">水电费</a></li>
          <li><a href="">水电费</a></li>
        </ul>
      </li>
      <li class='footer_nav'>
       <strong class='footer_sub_nav'><a href="">聚优一对一</a></strong>
        <ul>
          <li><a href="">的方式分为</a></li>
          <li><a href="">的方式分为</a></li><a href=""></a>
          <li><a href="">的方式分为</a></li>
        </ul>
      </li>
      <li class='footer_nav'>
      <strong class='footer_sub_nav'><a href="">最新咨询</a></strong>
        <ul>
          <li>哦很可能</li>
          <li>哦很可能</li>
          <li>哦很可能</li>
        </ul>
      </li>
      <li class='footer_nav'>
       <strong class='footer_sub_nav'><a href="">关于我们</a></strong>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </li>
    </ul>
    <div class="fr">
      <strong class="phone">400-619-0909</strong>
      <div class="footer_contact clearfix">
        <div class="ewm">
          <!-- <img src="" alt=""> -->
        </div>
        <ul>
          <li>在线客服：</li>
          <li>邮箱：</li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="copy" class="text-center">
    版权信息：© 2016 江苏金智教育信息股份有限公司 苏ICP备10204514号<a href="">
  </</a>div>
</footer>


<div class="deansidetools">
              <ul>
                  <li class="kefu_part_box" >
                        <a class="kefu_part">
                          <i class="iconfont">&#xe61d;</i>
                           <p class="iconfont-text"> 客服</p>
                        </a>
                        <div class="kefu_part_open">
                          <div><i class="iconfont" style="font-size: 48px">&#xe67b;</i></div>
                          <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1691779149&amp;site=qq&amp;menu=yes" title="在线咨询" class="deanonline center-block">在线咨询</a>
                          <p class="deansidetime">在线时间：9:00~18：00</p>
                          <p class="deansidephone">固定电话：0592-3593333</p>
                          <p class="deansidetel">客服热线：400-9907-315</p>
                          <p class="deansidetel">客服热线：400-9907-315</p>
                        </div>
                    </li>
                    <li class="weixin_part_box">
                        <a class="weixin_part">
                           <i class="iconfont">&#xe613;</i>
                            <p class="iconfont-text">微信</p>
                        </a>
                        <div class="weixin_part_open"> </div>
                    </li>
                    <!--返回顶部-->
                    <li id="top">
                      <a href="javascript:">
                         <i class="iconfont">&#xe604;</i>
                         <p class="iconfont-text">回到顶部</p>
                         </a>
                    </li>
                </ul>
 </div>
</body>
</html>