<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

</head>
<body>
  <div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="学员作品">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="新闻资讯">聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="师资介绍">关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="联系我们">最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>


<div  class='banner-wrap'>
  <div id="banner" >
        <section class="text-center banner_slogan center-block">
          <h1 data-am-scrollspy="{animation:'fade', repeat: false}">腾飞教育,十年积淀</h1>
          <p class="words">TENGFEIJIAOYU,SHINIANCHENGTEIAN </p>
          <!-- <div id='year'>2017</div> -->
        </section>

        <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</div>


<div class="main">
<!-- --------------课程 ---------------- -->
<div id="class" class="wrap clearfix">
  <section class="class_item" data-am-scrollspy="{animation:'fade', delay: 300}">
    <a href="">
    <h3 class="class_title">初中辅导<i class="iconfont">&#xe623;</i></h3>
    <div class="class_intro_wrap">
    <p class="class_intro">sdfsdfasf</p>
    <span>立即查看</span>
    </div>
    </a>
  </section>
  <section class="class_item" data-am-scrollspy="{animation:'fade', delay: 300}">
    <a href="">
    <h3 class="class_title">高中辅导 <i class="iconfont high">&#xe62e;</i></h3>
    <div class="class_intro_wrap">
      <p class="class_intro">高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导</p>
      <span>立即查看</span>
    </div>
    </a>
  </section>
  <section class="class_item">
    <a href="">
    <h3 class="class_title">聚优一对一 <i class="iconfont obo">&#xe63d;</i></h3>
    <div class="class_intro_wrap">
      <p class="class_intro">sdfsdfasf</p>
      <span>立即查看</span>
    </div>
    </a>
  </section>
</div>

<!-- --------------活动 ---------------- -->
<div id="news" class="wrap clearfix">
  <h3 class="comm_title ">
      最新活动
  </h3>

    <ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#home" data-toggle="tab"> 活动咨询 </a>
    </li>
    <li>
      <a href="#ios" data-toggle="tab">教育新闻</a>
    </li>
    <li >
        <a href="#jmeter" data-toggle="tab" >学习资料 </a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active clearfix" id="home">
        <ul class="fl news_left_conent">
          <li class="news_items clearfix">
            <div class="news_date fl">
                <span class="news_date_day">05</span>
                2017-12
            </div>
            <div class="news_content fl ">
              <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
              <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
            </div>
          </li>
           <li class="news_items clearfix">
            <div class="news_date fl">
                <span class="news_date_day">05</span>
                2017-12
            </div>
            <div class="news_content fl ">
              <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
              <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
            </div>
          </li>
          <li class="news_items clearfix">
            <div class="news_date fl">
                <span class="news_date_day">05</span>
                2017-12
            </div>
            <div class="news_content fl ">
              <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
              <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
            </div>
          </li> 

          
          
        </ul>
       
        <figure class="fl news_center_conent">
          <div class="img_wraper">
            <img src="../img/cz.jpg" alt="" class="img-responsive">
          </div>
          <figcaption class="news_content news_img_content">
            <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
              <!-- <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p> -->
          </figcaption>
        </figure>
           
        
        <ul class="fl news_right_conent">
        
          <li class="news_items clearfix">
            <div class="news_date fl">
                <span class="news_date_day">05</span>
                2017-12
            </div>
            <div class="news_content fl ">
              <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
              <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
            </div>
          </li>
        
    </div>
    <div class="tab-pane fade clearfix" id="ios">
        <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
            TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
    </div>
    <div class="tab-pane fade" id="jmeter">
        <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
    </div>
</div>
      
</div>


<!-- --------------团队 ---------------- -->
<div id="team">
  <div  class="wrap">
    <h2 class="comm_title text-center">
      师资介绍
    </h2>
    <ul class="clearfix">
      <li class="team_item">
        <figure>
          <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
          <figcaption>
            <p class="name">姓名：的说法</p>
            <span class="post">sdfsdfsdf</span>
            <p class="team_item_intro">简介</p>
          </figcaption>
        </figure>
      </li>
      <li class="team_item">
        <figure>
          <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
          <figcaption></figcaption>
        </figure>
      </li>
      <li class="team_item">
        <figure>
          <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
          <figcaption></figcaption>
        </figure>
      </li>
      <li class="team_item">
        <figure>
          <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
          <figcaption></figcaption>
        </figure>
      </li>
    </ul>
  </div>
</div>

<div id="about">
  <div class="about_top ">
    <ul class="clearfix">
      <li class="about_num">
        <p class="iconfont">&#xe62e;</p>
        <strong>1233</strong>
      </li>
      <li class="about_num">
        <p class="iconfont">&#xe62e;</p>
        <strong>1233</strong>
      </li>
      <li class="about_num">
        <p class="iconfont">&#xe62e;</p>
        <strong>1233</strong>
      </li>
      <li class="about_num">
        <p class="iconfont">&#xe62e;</p>
        <strong>1233</strong>
      </li>
    </ul>
  </div>
  <!-- <a href="" class="about_btn">进一步了解</a> -->
  <div class="wrap text-center">
       <h2 >关于腾飞</h2>
       <p>关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞</p>
    </div>
</div>
</div>
<footer>
  <div class="wrap clearfix">
    <ul>
      <li class='footer_nav'>
        <strong class='footer_sub_nav'><a href="">初中辅导</a></strong>
        <ul>
          <li><a href="">了解了解</a></li>
          <li><a href="">了解了解</a></li>
          <li><a href="">了解了解</a></li>
        </ul>
      </li>
      <li class='footer_nav'>
        <strong class='footer_sub_nav'><a href="">高中辅导</a></strong>
        <ul>
          <li><a href="">水电费</a></li>
          <li><a href="">水电费</a></li>
          <li><a href="">水电费</a></li>
        </ul>
      </li>
      <li class='footer_nav'>
       <strong class='footer_sub_nav'><a href="">聚优一对一</a></strong>
        <ul>
          <li><a href="">的方式分为</a></li>
          <li><a href="">的方式分为</a></li><a href=""></a>
          <li><a href="">的方式分为</a></li>
        </ul>
      </li>
      <li class='footer_nav'>
      <strong class='footer_sub_nav'><a href="">最新咨询</a></strong>
        <ul>
          <li>哦很可能</li>
          <li>哦很可能</li>
          <li>哦很可能</li>
        </ul>
      </li>
      <li class='footer_nav'>
       <strong class='footer_sub_nav'><a href="">关于我们</a></strong>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="copy" class="text-center">
    版权信息：© 2016 江苏金智教育信息股份有限公司 苏ICP备10204514号<a href="">
  </</a>div>
</footer>

</body>
</html>