<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

</head>
<body>
  <div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="junior.html" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="high.html" target="_self"><span data-title="高中辅导">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="one.html" target="_self"><span >聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="art.html" target="_self"><span >艺术生</span></a></li>
            <li class="navitem"><a class="nav-a " href="about.html" target="_self"><span >关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="news_list.html" target="_self"><span >最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>


<div  class='banner-wrap'>
<!-- style='position: fixed;z-index: -1' -->
  <div id="banner" >
        <section class="text-center banner_slogan center-block">
          <h1 data-am-scrollspy="{animation:'slide-top', repeat: false}">腾飞教育,十一年积淀</h1>
          <p class="words" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">TENGFEIJIAOYU,SHINIANCHENGTEIAN </p>
          <!-- <div id='year'>2017</div> -->
        </section>
        <div class="wrap">
          <canvas id="myChart" width="1200" height="400"></canvas>
        </div>
  </div>
</div>


<div class="main">


<!-- <div class="art_advantage_wrap">
  <div class="wrap">
  <div class="comm_title text-center">
       <h3> 腾飞艺术生文化课教育 </h3> 
      <div class="line"></div>
      <p class="text-center e_title">
        腾飞教育成立十几年，通过对1对1辅导的艺术生有上千名，文化通过率97%以上
      </p>
   </div>
    <div class="row text-center course_wrap">
      <div class="col-33 art_adv_item" data-am-scrollspy="{animation:'slide-left', repeat: false}">
        <h3>初中辅导</h3>
        <div class="iconfont center-block">&#xe647;</div>
        <p>艺体生文化部事业立足艺考生培训7年，腾飞教育艺考生文化课管理中心率先在业内推出分层教育和分阶教育</p>
      </div>
      <div class="col-33 art_adv_item" data-am-scrollspy="{animation:'slide-left', repeat: false,delay:100}">
        <h3>高中辅导</h3>
        <div class="iconfont center-block"></div>
        <p>137名优秀教师任教，154名全职员工维护</p>
      </div>
      <div class="col-33 art_adv_item" data-am-scrollspy="{animation:'slide-left', repeat: false,delay:100}">
        <h3>聚优一对一</h3>
        <div class="iconfont center-block"></div>
        <p>学科内容聚优</p>
      </div>
    </div>
  </div>
 </div> -->

<!-- --------------课程 ---------------- -->
<div class="class_wrap">
<div id="class" class="wrap" >
<!-- <div class="comm_title text-center">
  <!-- <h3> 不同寻常的学习体验 </h3>
  <div class="line"></div>
  <!-- <p class="text-center e_title">不同寻常的学习体验</p> 
</div> -->
  <div class="row">
  <div class="class_item col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
    <a href="class_list.html">
    <div class="iconfont">&#xe623;</div>
    <h3 class="class_title">初中辅导
    </h3>

    <div class="class_intro_wrap">
    <p class="class_intro">sdfsdfasf</p>
    </a>
    </div>
    
  </div>

  <div class="class_item col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 200}">
    <a href="class_list.html">
     <div class="iconfont high">&#xe62e;</div>
    <h3 class="class_title">高中辅导 </h3>

    <div class="class_intro_wrap">
      <p class="class_intro">高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导高中辅导</p>
      </a>
    </div>
    
  </div>

  <div class="class_item col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 400}">
     <a href="class_list.html">
    <div class="iconfont obo">&#xe656;</div>
    <h3 class="class_title">艺术生辅导 </h3>
    <div class="class_intro_wrap">
      <p class="class_intro">sdfsdfasf</p>
      </a>
    </div>
   
  </div>
   <div class="class_item col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 400}">
     <a href="class_list.html">
    <div class="iconfont obo">&#xe63d;</div>
    <h3 class="class_title">聚优一对一 </h3>
    <div class="class_intro_wrap">
      <p class="class_intro">sdfsdfasf</p>
     </a>
    </div>
    
  </div>
  </div>
</div>
</div>
<!-- --------------活动 ---------------- -->
<div id="news" class="wrap clearfix">

<div class="comm_title text-center">
  <h3> 最新活动 </h3> 
  <div class="line"></div>
  <p class="text-center e_title">NEWS</p>
</div>

<div class=" clearfix" id="home">
 
  <div class="news_left_conent clearfix" data-am-scrollspy="{animation:'slide-left', repeat: false}">
    <div class="clearfix news_left_header">
      <strong class="fl">精彩活动</strong>
      <a href="" class="fr more">查看更多>></a>
    </div>

    <ul class="fl">
          <li class="news_items clearfix">
            <div class="news_date fl">
                <span class="news_date_day">05</span>
                2017-12
            </div>
            <div class="news_content fl ">
              <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
              <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
            </div>
          </li>
           <li class="news_items clearfix">
            <div class="news_date fl">
                <span class="news_date_day">05</span>
                2017-12
            </div>
            <div class="news_content fl ">
              <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
              <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
            </div>
          </li>
          <li class="news_items clearfix">
            <div class="news_date fl">
                <span class="news_date_day">05</span>
                2017-12
            </div>
            <div class="news_content fl ">
              <a href="">
                <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
                <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
            </a>
            </div>
          </li>
    </ul>

    <figure class="fr news_center_conent" >
    <a href="">
        <div class="img_wraper">
             <img src="../img/cz.jpg" alt="" class="img-responsive">
        </div>
      <figcaption class="news_content news_img_content">
          <h4 class="news_title">2017青岛市市北初三一模试卷汇总 </h4>
            <p class='news_text'>2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题2017市北一模真题</p>
       </figcaption>
    </a>
  </figure> 
   </div>    
 
           
  <div class="fr news_right_conent" data-am-scrollspy="{animation:'slide-right', repeat: false}">  
      <div class="clearfix news_left_header">
      <strong class="fl">新闻资讯</strong>
      <a href="" class="fr more">查看更多>></a>
    </div>
    <ul class="">
          <li class="news_items clearfix">
             <i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总 
          </li>
          <li class="news_items clearfix">
            <a href=""><i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总 </a>
          </li>
          <li class="news_items clearfix">
            <a href=""><i class='news_iconfont'></i> 2017青岛市市北初三一模试卷汇总</a>
          </li>
          <li class="news_items clearfix">
            <a href=""> <i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总</a> 
          </li>
          <li class="news_items clearfix">
           <a href=""> <i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总</a>青岛市市北初三一模试卷汇总青岛市市北初三一模试卷汇总青岛市市北初三一模试卷汇总<a href=""></a>
          </li>
          <li class="news_items clearfix">
            <a href=""><i class='news_iconfont'></i> 2017青岛市市北初三一模试卷汇总</a>
          </li>
          <li class="news_items clearfix">
             <i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总 
          </li>
          <li class="news_items clearfix">
            <i class='news_iconfont'></i>2017青岛市市北初三一模试卷汇总 
          </li>
          <li class="news_items clearfix">
            <i class='news_iconfont'></i> 2017青岛市市北初三一模试卷汇总
          </li>
          <li class="news_items clearfix">
            <i class='news_iconfont'></i> 2017青岛市市北初三一模试卷汇总
          </li>
    </ul>
  </div>
 </div>

  <div class="row activity">
          <div class="col-33 activity_item" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 100}">
            <figure>
            <a href="">
              <div class="img_wrap">
                <div class="mask"></div>
                <img src="../img/cz.jpg" alt="" class="img-responsive">
              </div>
              <figcaption class='activity_content'>
                <h4>可是你现在明白了，</h4>
                <p>你得自己学着应付了你得自己学着应付了</p>
              </figcaption>
              </a>
            </figure>
          </div>
           <div class="col-33 activity_item" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 250}">
            <figure>
            <a href="">
              <div class="img_wrap">
                <div class="mask"></div>
                <img src="../img/cz.jpg" alt="" class="img-responsive">
              </div>
              <figcaption class='activity_content'>
                <h4>可是你现在明白了，</h4>
                <p>你得自己学着应付了你得自己学着应付了</p>
              </figcaption>
              </a>
            </figure>
          </div>
           <div class="col-33 activity_item" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 400}">
            <figure>
            <a href="">
              <div class="img_wrap">
                <div class="mask"></div>
                <img src="../img/new_bg.jpg" alt="" class="img-responsive">
              </div>
              <figcaption class='activity_content'>
                <h4>可是你现在明白了，</h4>
                <p>你得自己学着应付了你得自己学着应付了</p>
              </figcaption>
              </a>
            </figure>
          </div>
          
   </div>
</div>
  

      
</div>


<!-- --------------团队 ---------------- -->
<div class="team" id='team'>
  <div  class="wrap">
    <div class="comm_title text-center">
      <h3> 师资介绍 </h3> 
      <div class="line"></div>
      <p class="text-center e_title">NEWS</p>
    </div>
   <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
            <ul class="row">
              <li class="team_item col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 0}">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption>
                    <div class="teacher-info">
                    <p class="name">的说法</p>
                    <span class="post">sdfsdfsdf</span>
                     </div>
                    <p class="team_item_intro">
                   
                    简介简介简介简介简介简介简介简介简介简介
                    简介简介简介简介
                    </p>
                  </figcaption>
                </figure>
              </li>
              <li class="team_item col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 100}">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
              <li class="team_item col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 200}">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
              <li class="team_item col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 300}">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
            </ul>
        </div>
        <div class="swiper-slide">
            <ul class="clearfix row">
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption>
                    <p class="name">的说法</p>
                    <span class="post">sdfsdfsdf</span>
                    <p class="team_item_intro">简介简介简介简介简介简介简介简介简介简介
                    简介简介简介简介简介简介简介简介简介简介

                    </p>
                  </figcaption>
                </figure>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
              <li class="team_item col-25">
                <figure>
                  <div class="img-wrap"><img src="../img/jiangpin.png" alt="" class="img-responsive"></div>
                  <figcaption></figcaption>
                </figure>
              </li>
            </ul>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
   </div>
    
  </div>
</div>

<!-- //教学环境 -->
<!-- <div class="wrap">
  <div class="row">
    <div class="col-25">
       <div class="text-center about_intro">
        <div class="comm_title text-center">
        <h3> 关于腾飞 </h3> 
        <div class="line"></div>
      <p class="text-center e_title">History</p>
      </div>
      </div>
    </div>
    <div class="col-25">e</div>
    <div class="col-25">e</div>
    <div class="col-25">e</div>
  </div>
</div> -->

<div class="course_category case_wrap">
  <div class="wrap">
    <div class="comm_title text-center">
      <h3>学员案例 </h3> 
      <div class="line"></div>
      <p class="text-center e_title">
      真实学员 真实案例 提分更有保障
      </p>
   </div>
  <div class="row category">
    <div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
      <section class="category_item text-center case_item">
        <h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
         <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
      </section>
    </div>
    <div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
      <section class="category_item text-center case_item">
        <h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
         <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
      </section>
    </div>
    <div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
      <section class="category_item text-center case_item">
        <h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
         <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
      </section>
    </div>
    <div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
      <section class="category_item text-center case_item">
        <h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
         <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
      </section>
    </div>

  </div>
  </div>
  <a href="case_list.html" class="center-block text-center qy_btn">查看跟多</a>
  </div>

<div id="about">  
  <div class="text-center about_intro">
    <div class="comm_title text-center">
    <h3> 关于腾飞 </h3> 
    <div class="line"></div>
    <!-- <p class="text-center e_title">History</p> -->
  </div>
      <p class='center-block about_intro_text'>关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞关于腾飞
       </p>
       <a href="" class="about_btn">进一步了解</a>
  </div>

  <div class="about_top text-center center-block wrap"  id='about_number'>
   <ul class="clearfix row">
     <li class="about_num col-25">
        <p class="iconfont ">&#xe615;</p>
          <div class="">
            <strong id='years'>0</strong>
            <p class="about_tag">年教学经验</p>
          </div>
      </li>
      <li class="about_num col-25">
        <p class="iconfont ">&#xe664;</p>
          <div class="">
            <strong id='student'>0</strong>
            <p class="about_tag">名学生</p>
          </div>
      </li>
      <li class="about_num col-25">
        <p class="iconfont ">&#xe602;</p>
          <div class="">
            <strong id='school'>0</strong>
            <p class="about_tag">所校区</p>
          </div>
      </li>
      <li class="about_num col-25">
        <p class="iconfont ">&#xe61a;</p>
          <div class="">
            <strong><span id="prob">0</span>%</strong>
            <p class="about_tag">本科升学率</p>
          </div>
      </li>
      
    </ul> 
</div>
</div>


<div id="timer_line" class="timer_line center-block" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay: 50}">
  <div class="comm_title text-center">
    <h3> 发展历程 </h3> 
    <div class="line"></div>
    <p class="text-center e_title">History</p>
  </div>
 <ul class='row text-center no-gutter clearfix' >
   <li class="time_item col-20 on">力学笃行</li>
   <li class="time_item col-20">逆水行舟</li>
   <li class="time_item col-20">一德一心</li>
   <li class="time_item col-20">坚持不懈</li>
   <li class="time_item col-20">众志成城</li>
 </ul>

  <div class="slider row text-center">
      <div class="col-20 on timer_content">
        <!-- <strong>力学笃行</strong> -->
        <p>腾飞教育学校成立，获淄博市教育局办学免检单位<br>
        2007年个性化教学中心成立，在校学习人数突破1500人，<br>
        淄博市教育局优秀单位，2008年与高考阅卷组签约成立腾飞高考研究院</p>
      </div>
      <div class="col-20 timer_content">
        <!-- <strong>逆水行舟 </strong> -->
        <p>腾飞教育学校成立，获淄博市教育局办学免检单位，2007年个性化教学中心成立，在校学习人数突破1500人，淄博市教育局优秀单位，2008年与高考阅卷组签约成立腾飞高考研究院</p>
      </div>
      <div class="col-20 timer_content">
        <!-- <strong>一德一心</strong> -->
        <p>腾飞教育学校成立，获淄博市教育局办学免检单位，2007年个性化教学中心成立，在校学习人数突破1500人，淄博市教育局优秀单位，2008年与高考阅卷组签约成立腾飞高考研究院</p>
      </div>
     
      <div class="col-20 timer_content">
        <strong>众志成城</strong>
        <p>腾飞教育学校成立，获淄博市教育局办学免检单位，2007年个性化教学中心成立，在校学习人数突破1500人，淄博市教育局优秀单位，2008年与高考阅卷组签约成立腾飞高考研究院</p>
    </div>
    <div class="col-20 timer_content">
        <strong>众志成城</strong>
        <p>腾飞教育学校成立，获淄博市教育局办学免检单位，2007年个性化教学中心成立，在校学习人数突破1500人，淄博市教育局优秀单位，2008年与高考阅卷组签约成立腾飞高考研究院</p>
    </div>
  </div>
</div>

<!-- <div class="wrap text-center" style="height: 600px;" >
  <div class="comm_title text-center">
    <h3> 我们的荣誉 </h3> 
    <div class="line"></div>
    <p class="text-center e_title">History</p>
  </div>
  <img src="../img/honor.jpg" alt="" class="center-block">
</div> -->


<!-- <iframe src="http://720.xghd.cc/test_yang/map.php?pix=118.032608,36.824937&amp;name=的水电费" frameborder="0" style="display: block; width: 100%;height: 180px;"></iframe> -->


 <div class="comm_title text-center">
    <h3> 联系我们 </h3> 
    <div class="line"></div>
    <p class="text-center e_title">CONTACT US</p>
    </div>
<div class="contact_form"> 
<div class="form_mask"></div>
  <div class="wrap clearfix">
    <div class="appointment_form  clearfix " id='appointment_form'>
          <h2 class="text-center">填写资料，免费体验课程</h2>
          <div class="">
          <form action="">
            <label for="">
              <input type="text" name='name' placeholder="请输入姓名" id='name'>
              <div class="error fr" style="display: none;color:red">姓名不到为空</div>
            </label>
            <label for="">
              <input type="text" name='tel' placeholder="请输入手机号" id='tel'>
              <div class="error fr" style="display: none;color:red">请输入正确的号码</div>
            </label>
            <label for="">
              <input type="text" name='school' placeholder="请输入所在学校" id='school'>
              <div class="error fr" style="display: none;color:red">请输入所在学校</div>
            </label>
            
            <select name="class" id="classes">
              <option value="">初一</option>
              <option value="">初二</option>
              <option value="">初三</option>
              <option value="">初四</option>
              <option value="">高一</option>
              <option value="">高二</option>
              <option value="">高三</option>
             
            </select>
            <button type='button' class="apply_btn center-block" id='apply_btn'>立即报名</button>
          </form>
          </div>
          </div>
         
   </div>


<iframe src="map.html" frameborder="0" style="display: block; width: 100%;height: 400px;" scrolling="no"></iframe>
</div>
</div>
<footer>
</div>
  <div class="wrap clearfix">
     <ul>
      <li class='footer_nav'>
        <strong class='footer_sub_nav'>
          <a href="">初中辅导</a>
         </strong>
          <ul>
            <li><a href="">小学课程</a></li>
            <li><a href="">初中课程</a></li>
             <li><a href="">全优课堂</a></li>
          </ul>
      </li>
      <li class='footer_nav'>
        <strong class='footer_sub_nav'><a href="">高中辅导</a></strong>
        <ul>
          <li><a href="">高中课程</a></li>
          <li><a href="">高端课程</a></li>
        </ul>
      </li>
      <li class='footer_nav'>
       <strong class='footer_sub_nav'><a href="">聚优一对一</a></strong>
        <ul>
          <li><a href="">学生案例</a></li>
          
        </ul>
      </li>
      <li class='footer_nav'>
      <strong class='footer_sub_nav'><a href="">最新咨询</a></strong>
        <ul>
          <li>哦很可能</li>
          <li>哦很可能</li>
          <li>哦很可能</li>
        </ul>
      </li>
      <li class='footer_nav'>
       <strong class='footer_sub_nav'><a href="">关于我们</a></strong>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </li>
    </ul>
    <div class="fr">
      <strong class="phone">400-619-0909</strong>
      <div class="footer_contact clearfix">
        <div class="ewm">
          <!-- <img src="" alt=""> -->
        </div>
        <ul>
          <li>在线客服：</li>
          <li>邮箱：</li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="copy" class="text-center">
    版权信息：© 2016 江苏金智教育信息股份有限公司 苏ICP备10204514号<a href="">
  </</a>div>
</footer>


<div class="deansidetools">
              <ul>
                  <li class="kefu_part_box" >
                        <a class="kefu_part">
                          <i class="iconfont">&#xe61c;</i>
                           <p class="iconfont-text"> 客服</p>
                        </a>
                        <div class="kefu_part_open">
                          <div><i class="iconfont" style="font-size: 32px">&#xe67b;</i></div>
                          <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1691779149&amp;site=qq&amp;menu=yes" title="在线咨询" class="deanonline center-block">在线咨询</a>
                          <p class="deansidetime">在线时间：9:00~18：00</p>
                          <p class="deansidephone"> 0533-2306166  0533-8136555 （初中部）</p>
                          <p class="deansidetel"> 0533-2778127  0533-8078188 （高中部）</p>
                          <p class="deansidetel"> 0533-2212999  0533-2217999 （1对1）</p>
                        </div>

             
             
                    </li>
                    <li class="weixin_part_box">
                        <a class="weixin_part">
                           <i class="iconfont">&#xe60c;</i>
                            <p class="iconfont-text">微信</p>
                        </a>
                        <div class="weixin_part_open"> </div>
                    </li>
                    <!--返回顶部-->
                    <li id="top">
                      <a href="javascript:">
                         <i class="iconfont">&#xe650;</i>
                         <p class="iconfont-text">回到顶部</p>
                         </a>
                    </li>
                </ul>
 </div>
</body>
</html>