<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="学员作品">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="新闻资讯">聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="师资介绍">关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="news_list" target="_self"><span data-title="联系我们">最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>
  <!-- banner -->

  <div class="common_banner junior_banner">
    <div class="wrap">
      <div class="j_banner_content">
       <span>23万家长学生的选择</span>
      <div class="j_theme">中小学高端辅导品牌</div>
      <ul class="j_advantage">
        <li>11年经验</li>
        <li>2100名教师</li>
         <li>14所校区</li>
        <li>首创“分层教学”</li>
      </ul>
      </div>
    </div>
  </div>

  <div class="advan_wrap j_advan_wrap">
  	<div class="wrap">
	  <div class="comm_title text-center">
	  <h3> 中考的加油站，名校的领航人 </h3> 
	  <div class="line"></div>
	  <p class="text-center e_title">OUR ADVANTAGE</p>
	</div>
	<div class="row">
		<div class="col-25 teach_system" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
			<h3>师资团队</h3>
			<p>
        腾飞教育初中部十年积淀，凝合百位一线在职骨干教师，山东中考阅卷组，山东中考命题研究组，腾飞教育中考教学研究中心，开发真正以学生为导向的备考课程体系   
      </p>
		</div>
		<div class="col-25 teach_system" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay:100}">
			<h3>教学服务</h3>
      <p></p>
		</div>
		<div class="col-25 teach_system" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay:200}">
			<h3></h3>
		</div>
		<div class="col-25 teach_system" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay:300}">
			<h3></h3>
		</div>
	</div>
	</div>
</div>

<div class="qy_wrap">
<div class="wrap">
 <div class="comm_title text-center">
    <h3> 全优课堂 </h3> 
    <div class="line"></div>
    <p class="text-center e_title">
      中考全优课堂基于培养优等生而搭建的课堂体现，通过完善的测试系统、教学系统、激励系统未最后一年的中考冲刺学习而努力
    </p>
  </div>
  <div class="row">
    <div class="col-33 j_adv_item" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay:0}">
      <div class="iconfont"> &#xe616; </div>
       <h3>测试系统</h3>
       <div>1.入学测试 &nbsp;2.阶段测试 &nbsp;3.真题模拟</div>
    </div>
    <div class="col-33 j_adv_item" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay:100}">
     
      <div class="iconfont"> &#xe647; </div>
       <h3>教学系统</h3>
       <div>名师团队;
       独家教材、讲义;
       半封闭教学管理;教师、教学质量监督</div>
    </div>
    <div class="col-33 j_adv_item" data-am-scrollspy="{animation:'slide-bottom', repeat: false,delay:200}">
      <div class="iconfont"> &#xe632; </div>
      <h3>激励系统</h3>
      <div>1.课堂激励 &nbsp;2.目标激励 &nbsp;3.结果激励</div>
    </div>
  </div>

  <a href="" class="center-block text-center qy_btn">了解详情</a>
</div>
</div>
	
  <div class="comm_title text-center">
  <h3> 课程体系介绍 </h3> 
  <div class="line"></div>
  <p class="text-center e_title">OUR ADVANTAGE</p>
</div>
  <div class="wrap">
    
    <section class="course_item clearfix">
       <div class="course_item_title fl">
         <h3>中考备考课程体系</h3>
         <span>Target Students Course System</span>
       </div>
       <ul class="fr course_item-list">
         <li>
          <!-- 考火箭班、培优班、直击中考班等优化课程 -->
             <strong class="title">中考火箭班</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
               
                 <a href="">高一</a>
                 <a href="">高二</a> 
                 <a href="">高三</a>
              </div>
            
         </li>
          <li>
           
             <strong class="title">中考培优班</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <!-- <h4>立即报名</h4> -->
                  <div class="idea">
                   <a href="">高一</a>
                   <a href="">高二</a> 
                   <a href="">高三</a>
                </div>
              </div>
            
         </li>
          <li>
           <a href="">
             <strong class="title">直击中考班</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <h4>课程理念</h4>
                  <div class="idea">
                   <a href="">高一</a>
                   <a href="">高二</a> 
                   <a href="">高三</a>
                </div>
              </div>

            </a>
         </li>
          <li>
           <a href="">
             <strong class="title">提高班</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <h4>课程理念</h4>
                  <div class="idea">
                   <a href="">高一</a>
                   <a href="">高二</a> 
                   <a href="">高三</a>
                </div>
              </div>

            </a>
         </li>
       </ul>
    </section>


     <section class="course_item clearfix">
       <div class="course_item_title fl">
         <h3>特训班课程体系</h3>
         <span>Target Students Course System</span>
       </div>
     <!-- 春秋季周末短训、国庆专项特训课程 -->
       <ul class="fr course_item-list">
         <li>
          <!-- 考火箭班、培优班、直击中考班等优化课程 -->
             <strong class="title">寒暑假特训课程</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
               
                 <a href="">高一</a>
                 <a href="">高二</a> 
                 <a href="">高三</a>
              </div>
            
         </li>
          <li>
           
             <strong class="title">中考培优班</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <!-- <h4>立即报名</h4> -->
                  <div class="idea">
                   <a href="">高一</a>
                   <a href="">高二</a> 
                   <a href="">高三</a>
                </div>
              </div>
            
         </li>
          <li>
           <a href="">
             <strong class="title">直击中考班</strong>
             <ul class="course_info ">
               <li><div class="fl">适合学员:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">成绩要求:</div> <p class="fl">市级模考文综/理综成绩240分以上</p></li>
               <li><div class="fl">授课教师:</div> <p class="fl">应届高二、高三学员</p></li>
               <li><div class="fl">上课时间:</div> <p class="fl">7月29日-8月13日 8:30-11:30 14:00-17:00</p></li>
             </ul>
              <div class="idea">
                <h4>课程理念</h4>
                  <div class="idea">
                   <a href="">高一</a>
                   <a href="">高二</a> 
                   <a href="">高三</a>
                </div>
              </div>
            </a>
         </li>
       </ul>
    </section>
    </div>


</body>
</html>