<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="学员作品">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="新闻资讯">聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="师资介绍">关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="news_list" target="_self"><span data-title="联系我们">最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>

<div class="common_banner news_bg">
  	
</div>
<div class="wrap">
<ul class="row center-block text-center" style="height: 80px">

	<li class="col-33 news_nav n_active"><a href="">互动咨询</a></li>
	<li class="col-33 news_nav"><a href="">教育新闻</a></li>
	<li class="col-33 news_nav"><a href="">学校咨询</a></li>
</ul>

<div class="row">
	<div class="col-80 news_left">
		<ul >
			<li class="news_page_item news_items row">
				<div class="col-20 news_img">
					<img src="../img/cz.jpg" alt="" class='img-responsive'>
				</div>
				<div class="col-80">
					<a href="news.html">
						<h4>河北师范大学：首次100%线上职称评审，好评不断</h4>
						<p>金智教育研究院还记得小智在月初给大家推荐的延边大学职称评审业务系统吗？清晰的审批流程、省时省力的各种环节让人眼前一亮。据了解，延边大学此次共有230人参加职称评审，</p>
						<time>2016年10月13日</time>
					</a>
				</div>
			</li>
			<li class="news_page_item news_items row">
				<div class="col-20 news_img">
					<img src="../img/cz.jpg" alt="" class='img-responsive'>
				</div>
				<div class="col-80">
					<a href="">
						<h4>河北师范大学：首次100%线上职称评审，好评不断</h4>
						<p>金智教育研究院还记得小智在月初给大家推荐的延边大学职称评审业务系统吗？清晰的审批流程、省时省力的各种环节让人眼前一亮。据了解，延边大学此次共有230人参加职称评审，</p>
						<time>2016年10月13日</time>
					</a>
				</div>
			</li>
			<li class="news_page_item news_items row">
				<div class="col-20 news_img">
					<img src="../img/cz.jpg" alt="" class='img-responsive'>
				</div>
				<div class="col-80">
					<a href="">
						<h4>河北师范大学：首次100%线上职称评审，好评不断</h4>
						<p>金智教育研究院还记得小智在月初给大家推荐的延边大学职称评审业务系统吗？清晰的审批流程、省时省力的各种环节让人眼前一亮。据了解，延边大学此次共有230人参加职称评审，</p>
						<time>2016年10月13日</time>
					</a>
				</div>
			</li>
			<li class="news_page_item news_items row">
				<div class="col-20 news_img">
					<img src="../img/cz.jpg" alt="" class='img-responsive'>
				</div>
				<div class="col-80">
					<a href="">
						<h4>河北师范大学：首次100%线上职称评审，好评不断</h4>
						<p>金智教育研究院还记得小智在月初给大家推荐的延边大学职称评审业务系统吗？清晰的审批流程、省时省力的各种环节让人眼前一亮。据了解，延边大学此次共有230人参加职称评审，</p>
						<time>2016年10月13日</time>
					</a>
				</div>
			</li>
			<li class="news_page_item news_items row">
				<div class="col-20 news_img">
					<img src="../img/cz.jpg" alt="" class='img-responsive'>
				</div>
				<div class="col-80">
					<a href="">
						<h4>河北师范大学：首次100%线上职称评审，好评不断</h4>
						<p>金智教育研究院还记得小智在月初给大家推荐的延边大学职称评审业务系统吗？清晰的审批流程、省时省力的各种环节让人眼前一亮。据了解，延边大学此次共有230人参加职称评审，</p>
						<time>2016年10月13日</time>
					</a>
				</div>
			</li>
		</ul>
		
		<div class="text-center">
			<ul class="pagination ">
				<li><a href="#">&laquo;</a></li>
				<li class="active"><a href="#">1</a></li>
				<li class=""><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&raquo;</a></li>
			</ul>
		</div>
	</div>
	
	<aside class="col-20 news_right">
		
		<div class="deansidebox deanactions fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
        	<div class="deanpubtitle">
                <h3>精彩阅读</h3>
                <a href="#" target="_blank"></a>
                <div class="clear"></div>
            </div>
           
         <div class="swiper-container">
			  <div class="swiper-wrapper hot_read">
			  <div class="swiper-slide">
			  <div class="img_wrap">
			  	<img src="../img/cz.jpg" alt="" class="img-responsive">
			  	</div>
			  	<div class="hot_read_intro">
			  		<a href="">
					  	<h4>定义样式结构如字体、</h4>
					  	<p>颜色、位置等的语言，被用于描述网页颜色、位置等的语言，被用于描述网页</p>
				  	</a>
			  	</div>
			  </div>
			  <div class="swiper-slide">Slide 2</div>
			  <div class="swiper-slide">Slide 3</div>
			  </div>

			  <!-- 如果需要导航按钮 -->
			  <div class="swiper-button-prev"></div>
			  <div class="swiper-button-next"></div>

			  <!-- 如果需要滚动条 -->
			  <div class="swiper-scrollbar" style='opacity: 1'></div>
		</div>
            
            
        </div>
	
	   <div class="hot_news">
		 <h3 class="hot_title ">
			最热活动 
		</h3>
		<ul class="hot_items">
			<li><i class='hot_item_icon'>·</i><a href="">金智教育研究院还记得小智在月初给大家推荐的延</a></li>
			<li><i class='hot_item_icon'>·</i><a href="">金智教育研究院还记得小智在月初给大家推荐的延</a></li>
			<li><i class='hot_item_icon'>·</i><a href="">金智教育研究院还记得小智在月初给大家推荐的延</a></li>
			<li><i class='hot_item_icon'>·</i><a href="">金智教育研究院还记得小智在月初给大家推荐的延</a></li>
			<li><i class='hot_item_icon'>·</i><a href="">金智教育研究院还记得小智在月初给大家推荐的延</a></li>
		</ul>

		</div>
	<!-- 	<figure class="hot-wrap">
			<div class="hot_img">
				<img src="../img/cz.jpg" alt="" class='img-responsive'>
			</div>
			<figcaption class="hot_content text-center">
				<h4 >金智教育研究院</h4>
				
				<a href="" class="hot_btn text-center center-block">查看详情</a>
			</figcaption>
		</figure> -->

	
	</aside>
</div>
</div>
</body>
</html>