<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="学员作品">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="新闻资讯">聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span data-title="师资介绍">关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="news_list" target="_self"><span data-title="联系我们">最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>
	<div style='height: 140px'></div>

 <div class="wrap">
  <ol class="breadcrumb ">
	    <li><a href="#">Home</a></li>
	    <li><a href="#">2013</a></li>
	    <li class="active">十一月</li>
   </ol>

<div class="row ">
	<div class="col-80 news_left">
		<section class='new_content'>
			<div class="header text-center">
				<h2>青岛金石教育科技股份有限公司</h2>
				<span>来源：腾飞教育 <time>发布时间：2018-34-90</time></span>
			</div>
			<p>青岛金石教育科技股份有限公司（简称"金石教育"）是由青岛市教育局、青岛市民政局批准并重点扶持的权威教育机构。专攻1对1个性化教育、小班化的金石V课堂，为中小学生提供最专业的小升初、中高考辅导。

金石教育总部立足青岛，目前开设有二十四所校区，拥有近800位专职教职工。学历与经验兼备的千余人师资队伍与众多教育专家的加盟，构成金石教育庞大的名师资源库。定期参加教育局集体备课，定期开展教研室专家交流会，创建专属教研专家组，成就了金石教育独一无二的权威教研。</p>
<p>青岛金石教育科技股份有限公司（简称"金石教育"）是由青岛市教育局、青岛市民政局批准并重点扶持的权威教育机构。专攻1对1个性化教育、小班化的金石V课堂，为中小学生提供最专业的小升初、中高考辅导。

金石教育总部立足青岛，目前开设有二十四所校区，拥有近800位专职教职工。学历与经验兼备的千余人师资队伍与众多教育专家的加盟，构成金石教育庞大的名师资源库。定期参加教育局集体备课，定期开展教研室专家交流会，创建专属教研专家组，成就了金石教育独一无二的权威教研。</p>
<p>青岛金石教育科技股份有限公司（简称"金石教育"）是由青岛市教育局、青岛市民政局批准并重点扶持的权威教育机构。专攻1对1个性化教育、小班化的金石V课堂，为中小学生提供最专业的小升初、中高考辅导。

金石教育总部立足青岛，目前开设有二十四所校区，拥有近800位专职教职工。学历与经验兼备的千余人师资队伍与众多教育专家的加盟，构成金石教育庞大的名师资源库。定期参加教育局集体备课，定期开展教研室专家交流会，创建专属教研专家组，成就了金石教育独一无二的权威教研。</p>
		</section>
	</div>
	<aside class="col-20 news_right">
	   <div class="hot_news">
		 <h4 class="hot_title ">
			最热活动 <br>
			
			<!-- <ul class='hot_list clearfix fr'>
				<li ></li>
				<li></li>
				<li></li>
				<li class="on"></li>
			</ul> -->
		</h4>
		<ul class="hot_items">
			<li><i class='hot_item_icon'>·</i><a href="">金智教育研究院还记得小智在月初给大家推荐的延</a></li>
			<li><i class='hot_item_icon'>·</i><a href="">金智教育研究院还记得小智在月初给大家推荐的延</a></li>
			<li><i class='hot_item_icon'>·</i><a href="">金智教育研究院还记得小智在月初给大家推荐的延</a></li>
			<li><i class='hot_item_icon'>·</i><a href="">金智教育研究院还记得小智在月初给大家推荐的延</a></li>
			<li><i class='hot_item_icon'>·</i><a href="">金智教育研究院还记得小智在月初给大家推荐的延</a></li>
		</ul>

		</div>
		<figure class="hot-wrap">
			<div class="hot_img">
				<img src="../img/cz.jpg" alt="" class='img-responsive'>
			</div>
			<figcaption class="hot_content text-center">
				<h4 >金智教育研究院</h4>
				
				<a href="" class="hot_btn text-center center-block">查看详情</a>
			</figcaption>
		</figure>

		<div class="contact_img">
			
		</div>
	</aside>
</div>
	</div>
</body>
</html>