<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
  <div id="header" class="index_nav ">
  <div class="content">
  <h1 style="text-indent: -9999px;margin:0" >
  腾飞教育
  <a href="http://mo004_593.mo4.line1.uemo.net/" id="logo" >
  <img src="../img/logo.png" height="40">
  </a> 
  </h1>
    <ul id="nav" class="clearfix">
            <li class="navitem">
            <a class="nav-a  active " href="" target="_self">
            <span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
            <a class="nav-a " href="junior.html" target=""><span data-title="关于我们">初中辅导</span>
            <!-- <i class="fa fa-angle-down"></i> -->
            </a>       
             <!-- <ul class="subnav" style="top: 48px; left: -69px;">
                    <li><a href="" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                  </ul> -->
        </li>
            <li class="navitem"><a class="nav-a " href="high.html" target="_self"><span data-title="高中辅导">高中辅导</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span >聚优一对一</span></a></li>
            <li class="navitem"><a class="nav-a " href="art.html" target="_self"><span >艺术生</span></a></li>
            <li class="navitem"><a class="nav-a " href="about.html" target="_self"><span >关于腾飞</span></a></li>
            <li class="navitem"><a class="nav-a " href="" target="_self"><span >最新活动</span></a></li>
          </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
  </div>
   <div class="common_banner case_banner">
    <div class="wrap">
      <div class="j_banner_content">
      
     <!--  <ul class="art_advantage text-center">
        <li>11年经验</li>
        <li>2100名教师</li>
         <li>14所校区</li>
        <li>首创“分层教学”</li>
      </ul> -->
      </div>
    </div>
  </div>

 <div class="art_advantage_wrap one_advantage_wrap">
 	<div class="wrap">
 	<div class="comm_title text-center">
		  <h3> 独特的6对1教学 </h3> 
		  <div class="line"></div>
		  <p class="text-center e_title">
		  	根据以学生学习为中心的服务理念，腾飞教育1对1在业内率领先实践了6对1服务模式
		  </p>
	 </div>
 		<div class="row text-center">
 			<div class="col-33 art_adv_item" data-am-scrollspy="{animation:'slide-left', repeat: false}">
 				<h3>教育咨询师</h3>
 				
 				<p>艺体生文化部事业立足艺考生培训7年，腾飞教育艺考生文化课管理中心率先在业内推出分层教育和分阶教育</p>
 			</div>
 			<div class="col-33 art_adv_item" data-am-scrollspy="{animation:'slide-left', repeat: false,delay:100}">
 				<h3>学科教师</h3>
 				
 				<p>137名优秀教师任教，154名全职员工维护</p>
 			</div>
 			<div class="col-33 art_adv_item" data-am-scrollspy="{animation:'slide-left', repeat: false,delay:100}">
 				<h3>学习管理师</h3>
 			
 				<p>学科内容聚优</p>
 			</div>
 		</div>
    <div class="row text-center">
      <div class="col-33 art_adv_item" data-am-scrollspy="{animation:'slide-left', repeat: false}">
        <h3>心理咨询师</h3>
        
        <p>艺体生文化部事业立足艺考生培训7年，腾飞教育艺考生文化课管理中心率先在业内推出分层教育和分阶教育</p>
      </div>
      <div class="col-33 art_adv_item" data-am-scrollspy="{animation:'slide-left', repeat: false,delay:100}">
        <h3>陪读教师</h3>
        
        <p>137名优秀教师任教，154名全职员工维护</p>
      </div>
      <div class="col-33 art_adv_item" data-am-scrollspy="{animation:'slide-left', repeat: false,delay:100}">
        <h3>心理咨询专家</h3>
        
        <p>学科内容聚优</p>
      </div>
    </div>
 	</div>
 </div>

 <div class="student_sort">
       <div class="comm_title text-center">
      <h3>知人善教 选择最合适的 </h3> 
      <div class="line"></div>
      <p class="text-center e_title">
      适合腾飞1对1的学生类型 
      </p>
   </div>
   <div class="wrap text-center">
     <div class="row sort_top">
       <div class="col-50 sort_item">
          <div>基础薄弱、跟不上学校授课节奏的学生</div>
          <div class="sort_item_content">
            <h4>基础薄弱、跟不上学校授课节奏的学生</h4>
            <p>针对性抓基础，跟进学生跟不上学校授课节奏的学生跟不上学校授课节奏的学生跟不上学校授课节奏的学生跟不上学校授课节奏的学生跟不上学校授课节奏的学生跟不上学校授课节奏的学生</p>
          </div>
       </div>
       <div class="col-50 sort_item">
         <div>成绩波动性大、动力不足的学生</div>
         <div class="sort_item_content"></div>
       </div>
     </div>
     <div class="row sort_bottom">
       <div class="col-33 sort_item">
         <div>态度认真但成绩平平、没有突出优势的学生</div>
         <div class="sort_item_content"></div>
       </div>
       <div class="col-33 sort_item">
         <div>成绩优异、冲刺更高目标、突破拔高学生</div>
         <div class="sort_item_content"></div>
       </div>
       <div class="col-33 sort_item">
        <div> 艺考类、体考类、军考类考生、</div>
         <div class="sort_item_content">
           <div>基础薄弱、跟不上学校授课节奏的学生</div>
          <div class="sort_item_content">
            <h4>基础薄弱、跟不上学校授课节奏的学生</h4>
            <p>针对性抓基础，跟进学生跟不上学校授课节奏的学生跟不上学校授课节奏的学生跟不上学校授课节奏的学生跟不上学校授课节奏的学生跟不上学校授课节奏的学生跟不上学校授课节奏的学生</p>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div class="path_wrap">
  <div class="comm_title text-center">
      <h3>辅导流程 </h3> 
      <div class="line"></div>
      <p class="text-center e_title">
     
      </p>
   </div>
   <div class="wrap text-center">
     <ul class="row">
       <li class='col-20'>
         <section>
           <h3>全方位测评</h3>
           <p>基础知识测评 学习心态测评</p>
         </section>
       </li>
       <li class='col-20'>
          <section>
           <!-- <h3>分析非智力因素</h3> -->
           <p>分析非智力因素 指定“教育培养方向” 制定个人专用教学方案 制定个人专用辅导计划</p>
         </section>
       </li>
       <li class='col-20'>
          <section>
           <h3>分析非智力因素</h3>
           <p>指定“教育培养方向” 制定个人专用教学方案 制定个人专用辅导计划</p>
         </section>
       </li>
       <li class='col-20'>
         <section>
           
           <p>确定授课一线教师，分层次授课，个性化备课</p>
         </section>
       </li>
       <li class='col-20'>
         <section>
           
           <p>确定授课一线教师，分层次授课，个性化备课</p>
         </section>
       </li>
     </ul>
   </div>
 </div>

<div class="course_category case_wrap">
	<div class="wrap">
	  <div class="comm_title text-center">
		  <h3>学员案例 </h3> 
		  <div class="line"></div>
		  <p class="text-center e_title">
		  真实学员 真实案例 提分更有保障
		  </p>
	 </div>
	<div class="row category">
		<div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
			<section class="category_item text-center case_item">
				<h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
	       <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
			</section>
		</div>
		<div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
      <section class="category_item text-center case_item">
        <h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
         <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
      </section>
    </div>
    <div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
      <section class="category_item text-center case_item">
        <h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
         <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
      </section>
    </div>
    <div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
      <section class="category_item text-center case_item">
        <h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
         <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
      </section>
    </div>
	</div>
    <div class="row category">
    <div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
      <section class="category_item text-center case_item">
        <h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
         <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
      </section>
    </div>
    <div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
      <section class="category_item text-center case_item">
        <h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
         <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
      </section>
    </div>
    <div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
      <section class="category_item text-center case_item">
        <h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
         <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
      </section>
    </div>
    <div class="col-25" data-am-scrollspy="{animation:'slide-bottom', repeat: false}">
      <section class="category_item text-center case_item">
        <h3>
            李浩然
          <p class="case_school">邹平一中 高三</p>
        </h3>
       <div class="case_info_wrap">
         <table class="table table-condensed case_info">
          <tr>
                <td class="info_title">辅导课程：</td>
                <td>数学</td>
                <td>化学</td>
              </tr>
              <tr>
                <td class="info_title">入学成绩：</td>
                <td>85</td>
                <td>52</td>
              </tr>
              <tr>
                <td class="info_title">提升后成绩：</td>
                <td>130</td>
                <td>130</td>
              </tr>    
        </table>
        </div>
        <p  class="case_describe">
        王新月为美术特长生，新月为美术特长生新月为美术特长生新月为美
        术特长生新月为美术特长生,新月为美术特长生新月为美术特长
        </p>
        <a href="" class="center-block case_btn">查看详情</a>
      </section>
    </div>
  </div>
</div>
 <a href="case_list.html" class="center-block text-center qy_btn">查看跟多</a>
</div>


	
</body>
</html>