<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="fullpage">
<div class="section section1 ">
    <div class="wrap">
	    <div class="comm_title text-center">
	    <h3> 教学系统 </h3> 
	    <div class="line"></div>
	    <p class="text-center e_title">
	      中考全优课堂基于培养优等生而搭建的课堂体现，通过完善的测试系统、教学系统、激励系统未最后一年的中考冲刺学习而努力
	    </p>
	  </div>
    	<div class="row">
    		<div class="col-50 clearfix">
    			<div class="fr teach_iteam_index">1</div>
    			<p class="fl teach_iteam">腾飞明星团队统一授课，不间断式教学，省去学生适应老师的时间</p>
    		</div>
    		<div class="col-50 clearfix">
    			<div class="fl teach_iteam_index">2</div>
    			<p class="fr teach_iteam">腾飞明星团队统一授课，不间断式教学，省去学生适应老师的时间</p>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-50 clearfix">
    			<div class="fr teach_iteam_index">5</div>
    			<p class="fl teach_iteam">腾飞明星团队统一授课，不间断式教学，省去学生适应老师的时间</p>
    		</div>
    		<div class="col-50 clearfix">
    			<div class="fl teach_iteam_index">6</div>
    			<p class="fr teach_iteam">腾飞明星团队统一授课，不间断式教学，省去学生适应老师的时间</p>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-50 clearfix">
    			<div class="fr teach_iteam_index">7</div>
    			<p class="fl teach_iteam">腾飞明星团队统一授课，不间断式教学，省去学生适应老师的时间</p>
    		</div>
    		<div class="col-50 clearfix">
    			<div class="fl teach_iteam_index">8</div>
    			<p class="fr teach_iteam">腾飞明星团队统一授课，不间断式教学，省去学生适应老师的时间</p>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-50 clearfix">
    			<div class="fr teach_iteam_index">3</div>
    			<p class="fl teach_iteam">腾飞明星团队统一授课，不间断式教学，省去学生适应老师的时间</p>
    		</div>
    		<div class="col-50 clearfix">
    			<div class="fl teach_iteam_index">4</div>
    			<p class="fr teach_iteam">腾飞明星团队统一授课，不间断式教学，省去学生适应老师的时间</p>
    		</div>
    	</div>
    </div>
    
</div>
<div class="section">
	 <div class="wrap text-center">
     	  <div class="comm_title text-center">
	    <h3> 教学系统 </h3> 
	    <div class="line"></div>
	    <p class="text-center e_title">
	      中考全优课堂基于培养优等生而搭建的课堂体现，通过完善的测试系统、教学系统、激励系统未最后一年的中考冲刺学习而努力
	    </p>
	  </div>
     	 <ul class="stimulate center-block">
     	 	<li class="clearfix stimulate_title"><i class="stimulate_index">1</i><h2 class="fl">课堂激励 </h2> <p class="fl stimulate_text">课堂互动活动</p></li>
     	 	<li class="clearfix stimulate_title"><i class="stimulate_index">2</i><h2 class="fl">目标激励 </h2> <p class="fl stimulate_text">制定阶段性公共办校考试目标，达成后进行奖励</p></li>
     	 	<li class="clearfix stimulate_title"><i class="stimulate_index">3</i><h2 class="fl">结果激励 </h2> <p class="fl stimulate_text">中考考试结果目标导向，进行颁奖典礼</p></li>
     	 </ul>
		
		<div class="row">
			<section class="col-33 class_stimulate_item j_adv_item">
				<h3>课堂激励</h3>
				<p>通过奖励进行积分兑换奖品</p>
			</section>
			<section class="col-33 class_stimulate_item j_adv_item">
				<h3>目标激励</h3>
				<p>
					我们这个班的目的不仅是考进市实验，更是进入市实验前的100名
					更是进入市实验前的100名我们这个班的目的不仅是考进市实验，
					我们这个班的目的不仅是考进市实验，更是进入市实验前的100名
					更是进入市实验前的100名
				</p>
			</section>
			<section class="col-33 class_stimulate_item j_adv_item">
				<h3>结果激励</h3>
				<p>们这个班的目的不仅是考进市实验，更是进入市实验前的100名
					更是进入市实验前的100名我们这个班的目的不仅是考进市实验，
					我们这个班的目的不仅是考进市实验，更是进入市实验前的100名
					更是进入市实验前的100名们这个班的目的不仅是考进市实验，更是进入市实验前的100名
					更是进入市实验前的100名我们这个</p>
			</section>
		</div>
     </div>
 </div>
<div class="section">
	<div class="wrap">
		<img src="../img/jw.jpg" alt="" class="img-responsive">
	</div>
</div>
<div class="section">
	
</div>
</div>
</body>
</html>