@import  './less/variables.less';
@import  './less/mixins.less';
@import  './less/normalize.less';
@import  './less/grid.less';
@import  './utility.less';
@import  './animation.less';
@import  './less/forms.less';

/*@import  './animation.min.css';*/
/*@import  './less/base.less';
@import "less/content-block.less";
@import "less/bars.less";
@import "less/buttons.less";
@import  './less/cards.less';
@import  './less/lists.less';
@import  './less/forms.less';*/
/*@import  './less/scroller.less';*/

body{
   
	/*background-image: -webkit-radial-gradient(hsla(40,82%,3%,.9),hsla(0,100%,0%,.9));
    background-image: radial-gradient(hsla(40,82%,3%,.9),hsla(0,100%,0%,.9));*/

    /*background-image: -webkit-radial-gradient(hsla(120,70%,60%,.9),hsla(360,60%,60%,.9));  */
}
body,html,.page{
  overflow-x:hidden;
  font-size: 14px;
  color:#333;

}
.page {
    background-image: -webkit-radial-gradient(hsla(0,0%,100%,.9),hsla(40,3%,82%,.9));
    background-image: radial-gradient(hsla(0,0%,100%,.9),hsla(40,3%,82%,.9)); 
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
ul{
	padding-left: 0
}
img{
  float: none!important;
}


@font-face {font-family: "iconfont";
  src: url('./font/iconfont.eot?t=1496964177870'); /* IE9*/
  src: url('./font/iconfont.eot?t=1496964177870#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./font/iconfont.woff?t=1496964177870') format('woff'), /* chrome, firefox */
  url('./font/iconfont.ttf?t=1496964177870') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./font/iconfont.svg?t=1496964177870#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 80px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.comm_title{
	font-size: 32px;
	/*font-weight: normal;*/
}

/*header*/
li {list-style: none;}
a {text-decoration: none;}
img {border: none;float: left;}
input {border: none;background: none;}
input, textarea {font-family: Arial, "微软雅黑";outline: 0;font-size: 14px;-webkit-appearance: none;}

#header {
  width: 100%;
  height: auto;
  position: fixed;
  padding-top: 20px;
  font-size: 14px;
  transition: all ease .3s;
  z-index: 999;
  transition-property: padding, background
}

.nobanner #header {
  background: rgba(255, 255, 255, 0.9);
}

#header .content {
  padding: 0 40px;
}

#header.mini {
  background-color: rgba(0,0,0,.51);
  padding-top: 10px
}

#header.mini ul li.navitem {
  padding-bottom: 0;
}

 #logo {
  width: auto;
  height: 40px;
  display: block;
  float: left;
  margin-right: 50px;
  margin: 0px;
  img{
    float: left!important;
  }
}

#header.mini {
    padding-top: 15px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: -78px;
}


#header ul li.navitem {
  padding: 0 20px 10px 20px;
  width: auto;
  height: 50px;
  line-height: 40px;
  float: left;
  position: relative;
}

#header ul li.navitem ul.subnav {
  transition: all 0.3s ease-out 0s;
  position: absolute;
  width: 210px;
  border-top: #838383 3px solid;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0px, 10px, 0px);
  -moz-transform: translate3d(0px, 10px, 0px);
  -webkit-transform: translate3d(0px, 10px, 0px);
}

#header ul li.navitem:hover ul.subnav {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
}

#header ul li.navitem a {
  color: #fff;
  transition: none ease-out .3s;
  transition-property: color, background, text-indent, opacity
}

#header ul li.navitem a.active, #header ul li.navitem:hover a {
  color: #838383
}

#header ul li.navitem ul.subnav li {
  border-bottom: #2e2f29 1px solid;
}

#header ul li.navitem ul.subnav li a {
  padding: 14px 30px;
  width: 150px;
  height: 20px;
  line-height: 20px;
  background: rgba(0,0,0,.7);
  display: block;
  color: #bbb9b9;
  font-size: 12px;
}

#header ul li.navitem ul.subnav li a i {
  float: right;
  margin-top: 5px;
  transition: all ease-out .2s;
  opacity: 0
}

#header ul li.navitem ul.subnav li a:hover {
  text-indent: 10px;
  background: rgba(0,0,0,1);
  color: #fff
}

#header ul li.navitem ul.subnav li a:hover i {
  opacity: 1
}



#header { background-color: #fff; padding-top: 15px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); margin-top: 0px; transition: all 0.6s ease 0s; }
#header.mini { padding-top: 15px; background: #fff; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); margin-top: -76px; }
#header ul li.navitem a { color: #8e8e8e; }
#header ul li.navitem { padding: 0; margin: 0 60px 4px 0; line-height: 50px; }
#header #logo { float: left; margin: 0px;  width:100%; background: url(http://resources.jsmo.xin/templates/upload/593/201608/tel-01.png)no-repeat 1030px 0px; }
#header ul li.navitem a.active, #header ul li.navitem:hover a { color: #236ffb; }
.bx-wrapper .bx-pager.bx-default-pager a { width: 9px; height: 9px; margin: 0px 14px 0 0; }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus { border: 1px solid #236ffb; background-color: #236ffb; }
.serviceitem div { text-align: left; }
#footer { background: #f0f0f0; }
#header .content { margin: 0 auto; width: 1200px; padding-left: 40px; }
#header ul#nav { float: none; border-top: 1px solid #EFEFEF; margin-top: 20px;margin-bottom: 0 }
/*é¦–é¡µå¹»ç¯é«˜åº¦*/



.content .header p.title { font-size: 32px; font-family: "HELVETICANEUELTPRO-THEX"; }
.content .header p.subtitle { color: #8F8F8F; }
.serviceitem div p.title { font-size: 18px; border-bottom: 0; font-family: "HELVETICANEUELTPRO-THEX", "å¾®è½¯é›…é»‘"; }
.serviceitem div p.description { font-size: 12px; margin-top: 10px; text-align: left; }
.navitem strong { left: 0px; width: 100%; position: absolute; top: -15px; height: 3px; background-color: transparent; transition: all 0.3s ease 0s; z-index: -1; }
#header ul li.navitem a.active strong, #header ul li.navitem:hover a strong { width: 100%; background-color: #236ffb; }
#nav .navitem:hover strong { width: 100%; }
#footer p { text-align: left; padding: 20px 0px; color: #6c6e75; width: 1200px; margin: 0 auto; border-top: 0px; }
.bx-wrapper .bx-controls-direction a:hover i { color: transparent; }
#header ul li.navitem ul.subnav { border-top: 0px solid transparent; }
#header ul li.navitem ul.subnav li a:hover { background: #F2F2F2 none repeat scroll 0% 0%; color: #666; }
#header ul li.navitem ul.subnav li a { background: #fff; color: #959595; }
#header ul li.navitem ul.subnav li { border-bottom: 1px solid #E6E6E6; }
#header ul li.navitem a:after{
  width: 0;
  transition: all 0.8s ;
  -webkit-transition:all 0.8s ;
  position: absolute;
  top: 51px;
  height: 3px;
  content: '';
  left: 0px;
  background-color: #236ffb;
  
}
#header ul li.navitem a.active:after, #header ul li.navitem:hover a:after {
    width: 100%;
    z-index: -1;
}




.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block;
}
.nav-tabs{
  margin-left: 30px;
  margin-bottom: 0;
  li{
    display: inline-block;
    padding: 12px 15px;
    background: #f7f7f7;
    width: 120px;
    text-align: center;
  }
  .active{
   /* border:1px solid #ddd; 
    border-bottom-color: #fff;*/
    background: #fff;
  }

}
.tab-content{
  margin-top:-1px;
  /*border:1px solid #ddd;*/
}

a{
  color: #666;
  &:hover{
    color:#3CAAE7;
  }
}


.row{
  margin-left: -1.1%!important;
}

i.iconfont{
  font-style:normal;
}
/*底部*/

footer{
  background: #363636;
  color:rgb(180, 180, 180);
  li{
      padding: 4px 0;
    }
  .footer_nav{
    float:left;
    margin-right: 40px;
    text-align: center;
    
    a{
      color:rgb(180, 180, 180);
    }
    .footer_sub_nav{
      font-size: 16px;
      display: block;
      margin-bottom:5px;
      font-weight: normal;
    }
  }
  .phone{
    font-size: 32px;
    font-weight: bold;
    color: orange;
  }
}
#copy{
  background: #323232;
  height: 40px;
  width: 100%;
  color:rgb(127, 127, 127);
  line-height: 40px;
}

figure{
  margin: 0;
  img{
     .transition(all 1s ease)
  }
  &:hover .img_wrap img{
    transform: scale(1.1,1.1);
   
  }
}

.common_banner{
  .size(100%;360px);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 margin-top:120px;
 /*border:1px solid red;*/
}

.comm_title{
  margin-bottom: 40px;
  .line{
    .size(80px;1px);
    background: #ddd;
    .center-block();
  }
  h3{
    font-size: 28px;
    margin-bottom: 10px;
  }
  .e_title{
    margin-top: 4px;
    font-size: 20px;
    color: #666;
    width: 75%;
    .center-block();
  }
}


.news_items{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid  #f7f7f7;
    padding-bottom: 10px;
    position: relative;
    .clearfix();
    width: 100%;
    z-index: 8;
    cursor: pointer;
    .size(100%;100px);
    background: #fff;
    &:after{
      position:absolute;
      content: '';
      .size(100%;0);
      top:0;
      left: 0;
      background: #f7f7f7;
      z-index: -1;
      .transition(all 0.4s ease)
    };
    &:hover:after{
      height: 100%
    };
    &:hover .news_date{
      background: #fff;
      .transition(all 0.5s ease)
    }
  }

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    &>li{
      display: inline;
    }
    &>li:hover a{
        background-color: #e7e7e7;
    };
  }

  .pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: @mColor;
    border-color: @mColor;
}


.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    &>li {
    display: inline-block;
  }
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.fade{
 -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.tab-content>.tab-pane{
  display: none;
}
.tab-content>.active {
    display: block;
}

/*回到顶部*/
.deansidetools {
    width: 60px;
    z-index: 999999;
    border: 1px solid #eff0f1;
    position: fixed;
    right:0;
    top: 60%;
    background: #fff;
    .iconfont{
      font-size: 20px;
    }
}
.deansidetools ul{
  padding-left:0;
  margin-bottom: 0
}
.deansidetools ul li {
  cursor: pointer;
    display: block;
    background: #fff;
    text-align: center;
    /*height: 60px;*/
    border-bottom: 1px solid #eff0f1;
    overflow: hidden;
    color: #999;
    width: 60px;
}

.deansidetools a{
  color: #999;
}
.deansidetools a:hover{
  color: #ef8304
}
.kefu_part {
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
}
.kefu_part_open {
  background: #fff;
    position: absolute;
    /*overflow: hidden;*/
    width: 305px;
    height: 260px;
    top: 0px;
    left: -308px;
    border: 1px solid #ddd;
    display: none;
    padding-right: 8px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.kefu_part_open:after{
  position: absolute;
  content: '';
  width: 12px;
  height: 80px;
  background: transparent;
  top:0;
  right: -10px;
  z-index: 999

}
.deansidetime{
  font-size: 13px;
}
.deanonline{
  margin-bottom: 10px;
}
.kefu_part_open p + p{
    padding-top:10px;
    border-top: 1px solid #eee
}

.deansidetools a.deanonline{
  display: block;
  border:1px solid #ef8304;
  padding:10px 30px;
  border-radius: 3px;
  width: 76%;
  color: #ef8304;
}
.deansidetools a.deanonline:hover{
  background: #ef8304;
  color: #fff;
}

.weixin_part_open {
    position: absolute;
    overflow: hidden;
    width: 166px;
    height: 200px;
    top: 0;
    left: -170px;
    display: none;
    background: url('../img/sidebar_ewm_weixin.png') no-repeat center center;
    padding-right: 8px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.weixin_part_box:hover  .weixin_part_open{
  display: block;
}
.kefu_part_box:hover .kefu_part_open{
  display: block;
}

/*团队*/
.team{
  background: #f6f6f6;
  .team_item {
    height: 380px;
    margin-top: 0px;
    float: left;
    margin-bottom: 30px;
    transition: all 0.6s ease 0s;
    background: #fff;
    position: relative;
     cursor: pointer;
     padding-top: 15px;
    &:after{
      content: ""; display: block; 
       background-color: @mColor; 
       width: 0; height: 4px; 
       opacity: 0;
       position: absolute; 
       bottom: -2px; 
      .transition(all 0.5s);
 };
    &:hover{
      .translate3d(0, -10px, 0);
    }
    &:hover:after{
      width: 100%;
      opacity: 1
    };
    
    
  }
  .name{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .post{
    color: #999;
  }
  .team_item_intro{
    /*border-top: 1px solid #ddd;*/
    /*padding-top: 20px;*/
    color: #999;
    .am-line-clamp(3);
  }
  .img-wrap{
    width: 160px;
    .center-block();
    overflow: hidden;
    height: 160px;
    border-radius: 50%;
    border:3px solid #f4f4f4;
    
  }
  figure{
    margin: 0;
    padding: 15px
  }
  .teacher-info{
    text-align: center;
  }
}
.art_adv_item{
  height: 345px;
  background: #fff;
  padding: 15px 25px;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.1);
  color: #666;
  h3{
    font-size: 24px;
    color: #333;
  }
  .iconfont{
    .size(140px;140px);
    border-radius: 50%;
    line-height: 140px;
    color: #fff;
    .transition(all 0.8s ease);
  }

  &:first-child{
    .iconfont{
      background: #FFC300;
    }
    &:hover .iconfont{
      background: #fff;
      color: #FFC300;
      border: 3px solid #FFC300;
    };
  };
  
  &:nth-child(2){
    .iconfont{
      background: #00CDA4;
    }
    &:hover .iconfont{
      background: #fff;
      color: #00CDA4;
      border: 3px solid #00CDA4;
    };
  }
  &:last-child{
    .iconfont{
      background: #2DB8F4;
    }
    &:hover .iconfont{
      background: #fff;
      color: #2DB8F4;
      border: 3px solid #2DB8F4;
    };
  }
}

.mask{
  position: absolute;
  .size(100%;100%);
  top:0;
  left: 0;
  z-index: 999;
  background: rgba(0,0,0,.6);
  .form_ewm{
    border:1px solid red;
    .size(34%;200px);
    img{
      float: none;
    }
  }
  .close{
    position: absolute;
    .size(60px;60px);
    font-size:50px;
    color:#666;
    right: 10px;
    top:10px;
    cursor: pointer;
  }
}

.appointment_form{
    width: 760px;
      height: 430px;
      padding: 30px 50px;
      margin: 0 auto;
      position: relative;
      background-color: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      -o-box-shadow: 0 0 8px rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 8px rgba(0,0,0,.5);
      -ms-box-shadow: 0 0 8px rgba(0,0,0,.5);
      -moz-box-shadow: 0 0 8px rgba(0,0,0,.5);
      box-shadow: 0 0 8px rgba(0,0,0,.5);
  }
  label{
      display: block;
        padding-top: 8px;
      padding-bottom:20px;
      padding-left: 15px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
     padding: 9px 10px;
    position: relative;
    border: solid 1px #ccc;
    background-color: #fff;
    margin-bottom: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
  .form_wrap{
    width: 60%;
  }
  select{
    width: 100%;
    height: 39px;
    border: solid 1px #ccc;
    color: rgb(51, 51, 51);
    text-indent: 12px;
    color: #666;
    outline: none;
    font-size: 14px;
  }
  .apply_btn{
    display: block;
    background: @mColor;
    margin-top: 20px;
    border-radius: 30px;
    .size(200px;50px);
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none;
    .transition(all 0.5s);
    &:hover{
      background:darken(@mColor,10%);
    };

  }
.qy_btn{
    .size(200px;45px);
    border: 2px solid @mColor;
    line-height: 45px;
    color: @mColor;
    font-size: 18px;
    &:hover{
      background:@mColor;
      color: #fff;
    };
  }

  .case_list_item{
  background: #fff;
  height: 360px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  .case_list_item_right{
    width: 60%;
  }
  .case_btn{
    margin-top: 5px;
    border-color: @mColor;
    color: @mColor;
    &:hover{
      color: #fff;
      background:  @mColor;
    }
  }
  p{
    background: @mColor;
    color:#fff;
    padding: 10px 15px;
    margin: 0;
    font-size: 18px;
  }

  li{
    border-bottom: 1px dotted #e9e9e9;
    padding: 8px 0;
    height: auto;
    &:last-child{
      height:50px;
    };
    span{
      display: inline-block;
      margin-right: 20px;
      
    }
    strong{
      font-weight: normal;
    }
  }
  ul{
    padding:0 15px;
  }
}

.case_wrap .case_item{
  border: 1px solid #ddd;
 height: 380px;
  h3{
    margin: 0;
    width: 100%!important;
    background: @mColor;
    color: #333;
    font-size: 20px;
    color: #fff;
    padding: 12px 0;
  }
  .case_school{
    font-size: 14px;
    font-weight: normal;
    margin:5px 0 0;
  }
  .case_describe{
    color: #666;
    .am-line-clamp(3);
    padding: 0 14px;
  }
  .case_des_title{
    color: @mColor;
    font-weight: 400;
    margin-right: 10px;

  }
  
}
.case_btn{
    border: 1px solid  #999;
    width: 50%;
    margin-top: 30px;
    padding: 8px;
    .transition(all 0.5s);
    &:hover{
      border-color:@mColor;
    };
  }

.case_info_wrap{
  padding: 0 15px;
}
.table-condensed{
  width: 100%;
  .info_title{
    text-align: right;
    width: 100px; 
  }
  tr{
    padding: 10px 0;
    display: block;
    border-bottom: 1px dotted #ddd;
    border-width: 95%;
  }
  td{
    display: inline-block;
    width: 60px;
    
  }
}

.qy_btn{
  margin: 0px auto;
}