@import './mix.less';
body{
	background: #f9f9f9;
}
.advan_wrap{
	background: #fff;
	padding: 20px 20px 30px;
	margin-bottom: 20px;
	/*box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);*/
}
.comm_title{
  .e_title{
    font-size: 18px;
  }
}
.j_advan_wrap{
	background: #f9f9f9;
}
.high_banner{
	background-image: url(../img/h.jpg);
	background-size: cover;
	height: 440px;

	.theme{
		font-size: 34px;
		font-weight: bold;
		color: #333;
		margin: 70px 0 5px 0;
		.animation(am-slide-right 1s );
		span{
			color: #e3611a
		}
	}
	.h_slogan{
		background:#e07439;
		font-size: 18px;
		text-align: center;
		padding: 5px 0;
		color: #fff;
		.animation(am-slide-right 1s );
		span{
			font-weight: bold;
		}
	}
	.h_award{
		.animation(am-slide-left 1s );
		margin-top: 30px;
		li{
			list-style:inside;
			font-size: 18px;
			color: #666;
			margin-bottom: 15px;
		}
	}
}

.junior_banner{
	background-image: url(../img/j.jpg);
	background-size: cover;
	height: 436px;
	color: #fff;
	.j_banner_content{
		margin-top: 100px;
		/*.animation(am-slide-left 1s );*/
		span{
			font-size: 24px;
			letter-spacing: 2px;
			/*color: #cb640a;*/
			font-weight: bold;
			.animation(am-slide-top 1s );
		}
	}
	.j_theme{
		font-size: 44px;
		font-weight: bold;
		letter-spacing: 5px;
		margin-bottom: 20px;
		.animation(am-slide-top 1s );
	}
	.j_advantage>li{

		display: inline-block;
		padding: 4px 10px;
		border: 2px solid #fff;
		font-size: 18px;
		/*color: #cb640a*/
		.animation(am-slide-top 1s );
		&{
			+li{
				margin-left: 10px;
			}
		} 
	}
}
.advan-wrap{
	color: #666;
	font-size: 14px;
}
div.abvan_img{
	background-image: url(../img/advantage.png);
	.size(146px;157px);
	.center-block();
	 margin-bottom: 18px;
}
.adv_year{
	background-position: 0 157px;
}
.adv_teacher{
	background-position: -165px 157px;
}
.adv_check{
	background-position: -330px 157px;
}
.adv_research{
	background-position: -495px 157px;
}
.adv_tf{
	background-position:146px 157px;
}

.course_item_title{
	color: #fff;
	padding: 15px;
	height: 260px;
	width: 250px;
	h3{
		font-size: 30px;
		margin-bottom: 5px;
	}
	
}
.course_item-list{
	margin-top: 0;
	overflow: hidden;
	width: 940px;
	>li{
		float: left;
		width: 280px;
		height: 260px;
		border-bottom:4px solid red;
		margin:0 0px 30px 20px;
		padding: 20px;
		background: #fff;
    	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    	overflow: hidden;
    	position: relative;	
    	&:hover .idea{
			bottom:-65%;
    	};

	}
	.title{
		font-size: 18px;
		display: block;
		margin-bottom: 10px;
	}
	.course_info{
		color: #666;
		>li{margin-bottom: 8px;.clearfix();
			>p{
				margin: 0;
				width: 160px;
				margin-left: 10px;
			}
		}
	}
	.idea{
		.size(100%;100%);
		background: #106EB8;
		position: absolute;
		.transition(all 0.5s);
		color: #fff;
		padding: 30px 20px;
		bottom:-100%;
		left:0;
		text-align: center;
		h4{
			font-size: 18px;
			margin: 4px 0;
		}
		a{
			display: inline-block;
			color: #fff;
			border: 1px solid #fff;
			padding:4px  15px ;
			border-radius: 8px;
			margin: 5px;
			&:hover{
				background:#fff;
				color: @mColor
			};
		}
		
	}
}

section.course_item{
	&:first-child{
		.course_item_title{
			background: #106EB8;
		}
		.course_item-list{
			>li{
				border-bottom-color: #106EB8;
			}
		}
	};
	&:nth-child(2){
		.course_item_title{
			background: #f68e42;
		}
		.course_item-list{
			>li{
				border-bottom-color: #f68e42;
			}
			.idea{
				background: #f68e42;
				a:hover{
					color: #f68e42;
				};
			}
		}
	};
	&:nth-child(3){
		.course_item_title{
			background: #864295;
		}
		.course_item-list{
			>li{
				border-bottom-color: #864295;
			}
			.idea{
				background: #864295;
				a:hover{
					color: #864295;
				};
			}
		}
	};
}

.teach_system{
	/*border: 2px solid #ddd;*/
	height: 260px;
	padding:0 15px;
	color: #333;
	font-size: 16px;
	background: #fff;
	color: #666;
	box-shadow: 6px 0 15px #ebebeb, -6px 0 15px #ebebeb, 0 6px 15px #ebebeb, 0 -6px 15px #ebebeb;
	h3{
		/*color: @mColor;*/
		font-size: 24px;
		text-align: center;
	}
}

.qy_wrap{
	background: #fff;
	padding: 30px 0 60px;
	.row{
		height: 420px;
		padding-top: 70px;
	}
	
}
div.j_adv_item{
	border:1px solid #ddd;
	text-align: center;
	height: 280px;
	padding: 0 15px;
	.transition(all 0.3s ease);
	color: #fff;
	font-size: 16px;
	.iconfont{
		background: #fff;
		.size(160px;160px);
		.center-block();
		border-radius: 50%;
		line-height: 160px;
		margin-top: -60px;
		border: 3px solid #EC8B18;
	}
	&:first-child{
		background: #EC8B18;
		.iconfont{
			color: #EC8B18;
			border: 3px solid #EC8B18;
		}
	};
	&:last-child{
		background:#78A741;
		.iconfont{
			color: #78A741;
			border: 3px solid #78A741;
		}
	};
	&:nth-child(2){
		background: #208BB9;
		
		.iconfont{
			color:  #208BB9;
			border: 3px solid #208BB9;
		}
	};
	&:hover{
		transform: translateY(-10px);
	};
	h3{
		color: #fff;
		font-size: 22px;
		
	}
}


/***********************************艺术生*/

.art_banner{
	background-image: url('../img/art1.jpg');
	height: 440px;
	.art_advantage{
		margin-top: 300px;
		li{
			display: inline-block;
			font-weight: bold;
			font-size: 18px;
			margin: 0 10px;
		}
	}
}

/*名师*/

.teacher_wrap .team_item{
	position: relative;
	overflow: hidden;
	height: 340px;
	.teacher_intro{
		.size(100%;100%);
		position: absolute;
		z-index: 9;
		background: @mColor;
		top:0;
		/*left:-100%;*/
		transform: translateY(-100%);
		.transition(all 0.5s );
		color: #fff;
		padding: 15px;
		h4{
			margin-bottom: 5px;
			font-size: 16px;
		}
	}
	&:hover .teacher_intro{
		transform: translateY(0);
	};
}

.course_category{
	background: #fff;
	padding-bottom: 40px;

}
.category{
	margin-bottom: 30px;
	.category_item{
		border: 1px solid #ddd;
		min-height: 360px;
		h3{
			background: @mColor;
			color: #fff;
			width: 60%;
			.center-block();
			padding: 15px;
		}
	}
}

.shcool_wrap{
	background: #fff;
	min-height: 660px;
}
.art_advantage_wrap{
	padding:20px 0 40px;
	.row{
		height: 370px;
	}
}

/*一对一*/
.one_advantage_wrap{
	.row{
		height: auto;
		margin-bottom: 30px;
	}
	.art_adv_item{
		box-shadow: none;
		border:1px solid #ddd;
	    height: 240px;
	}
}

.student_sort{
	background: #fff;
	padding: 60px  0; 
}
.sort_item{
	height: 220px;
	background: green;
	margin-bottom: 20px;
	font-size: 22px;
	color: #fff;
	width: 100%;
	padding:80px 15px;
	position: relative;
	cursor: pointer;
	.sort_item_content{
		position: absolute;
		.size(100%;100%);
		background: #4E4E4E;
		opacity: 0;
		top:0;
		left:0;
		.transition(all 0.5s);
		font-size: 14px;
		padding: 15px;
	}
	&:hover .sort_item_content{
		
		opacity: 1
	};
}
.sort_top .sort_item{
	&:first-child{
		background:#FF6652;
	};
	&:last-child{
		background:#FFCD21;
	};
}
.sort_bottom .sort_item{
	&:first-child{
		background:#83DD6F;
	};
	&:nth-child(2){
		background:#60B7DF;
	};
	&:last-child{
		background:#FF9639;
	};
}




.case_banner{
	background: url('../img/case.jpg');
	height: 430px;
}
.case_list .row{
	height: 370px;
	margin-bottom: 20px;
}
.case_list_item{
	background: #fff;
	height: 360px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	.case_list_item_right{
		width: 60%;
	}
	.case_btn{
		margin-top: 5px;
		border-color: @mColor;
		color: @mColor;
		&:hover{
			color: #fff;
			background:  @mColor;
		}
	}
	p{
		background: @mColor;
		color:#fff;
		padding: 10px 15px;
		margin: 0;
		font-size: 18px;
	}

	li{
		border-bottom: 1px dotted #e9e9e9;
		padding: 8px 0;
		height: auto;
		&:last-child{
			height:50px;
		};
		span{
			display: inline-block;
			margin-right: 20px;
			
		}
		strong{
			font-weight: normal;
		}
	}
	ul{
		padding:0 15px;
	}
}
